// .report-controls-popup{
//   width: 100%;
//   .col-8{
//       .col-3{border-left: 1px solid #4fa3f2;}
//       .col-3{border-right: 1px solid #4fa3f2;}
//   }
//   .header{
//   background: #ffffff;
//   border-radius: 20px 20px 0px 0px;
//   border-bottom: 2px solid #edf1f4;
//   position: relative;
//   padding: 0.5rem 3rem;
//   .close-btn{
//   color: #d4d4d4;
//   font-size: 1.3vw;
//   position: absolute;
//   right: 20px;
//   }
//   .title{
//   font-family: 'Roboto';
//   font-size: 1.3vw;
//   color: #444649;
//   line-height: 2rem;
//   .slash{
//   color: #33b3f3;
//   padding-right: 5px;
//           }}}
//   .body{
//   background-color: #f5f9f7;
//   padding:3rem 3rem;
//   height: 55vh;
//   h5 {
//       font-size: 0.9vw;
//       margin: 0px;
//       font-family: 'RobotoBold';
//       color: #858585;
//       padding-left: 5px;
//   }
// .data-grouping, .slt-trgt{
//   .sub-text{
//      color: #55aaff;
//      font-family: 'Roboto';
//      font-size: 0.7vw;
//      position: relative;
//      top: -5px;
//      left: 5px;
//   }
//   .box{
//       height: 500px;
//      display: flex;
//      flex-direction: column;
//      flex-wrap: wrap;
//     //  .btn-primary{
//     //   background-color: transparent !important;
//     //   color: #858585 !important;
//     // }
//   }
//   .box>* {
//      flex: 1 1 10px;
//   }
//   .acc-select{
//       ._dropdwn {
//       float: left;
//       background:url(../../../../assets/images/down_arrow.png)  95% no-repeat #fff;
//       padding: 4px 12px;
//       border: 1px solid #d4e1e7;
//   }
//       ._dropdwn select option {
//       background: #fff!important;
//       color: #000;}
//       ._dropdwn,._dropdwn select {
//       outline: 0;
//       border: none;
//       min-height: 1rem;
//       border-radius: 50px;
//       font-size: 0.8vw;
//       color: #000;
//       font-family: 'Roboto';
//       appearance: none;
//       -moz-appearance: none;
//       -webkit-appearance: none
//           }}
// .bg-color{
// color: #fff !important;
// background-color: #2a91f0 !important;
// outline: none !important;
// }
// .bg-color-none{
// color: #858585 !important;
// background-color: transparent !important;
// outline: none !important;
// }
// .bg-color-wt{
// color: #858585 !important;
// background-color: #fff !important;
// outline: none !important;
// }
// .disabled{
// pointer-events: none;
// opacity: 0.5;
// }
// .Pointer{
// pointer-events: none;
// }
//   .switch {
//       position: relative;
//       display: inline-block;
//       width: 42px;
//       height: 20px;
//     }
//     .switch input {
//       opacity: 0;
//       width: 0;
//       height: 0;
//     }
//     .slider {
//       position: absolute;
//       cursor: pointer;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: #2a91f0;
//       -webkit-transition: .4s;
//       transition: .4s;
//     }
//     .slider:before {
//       position: absolute;
//       content: "";
//       height: 1rem;
//       width: 1rem;
//       bottom: 0.15rem;
//       background-color: white;
//       transition: 0.4s;
//     }
//     input:checked + .slider {
//       background-color: #2a91f0;
//     }
//     input:focus + .slider {
//       box-shadow: 0 0 1px #2a91f0;
//     }
//     input:checked + .slider:before {
//       -webkit-transform: translateX(26px);
//       -ms-transform: translateX(26px);
//       transform: translateX(26px);
//     }
//     /* Rounded sliders */
//     .slider.round {
//       border-radius: 34px;
//     }
//     .slider.round:before {
//       border-radius: 50%;
//     }
//   .active {
//       color: #fff !important;
//       background-color: #2a91f0 !important;
//       outline: none;
//     }
//   .grp-btn:focus, .grp-sml-btn:focus {
//       color: #fff;
//       background-color: #2a91f0;
//       outline: none;
//     }
//   .grp-btn, .grp-sml-btn{
//       margin-top: 6px;
//       border-radius: 50px;
//       width: 90%;
//       color: #858585;
//       background-color: #ffffff;
//       border: 1px solid #d4e1e7;
//       outline: none;
//       padding: 0.3rem 0.75rem;
//       font-family: 'Roboto';
//       font-size: 0.7vw;}
//   .grp-sml-btn{
//       width: 90px;
//       margin-right: 10px;
//   }
//   .slt-trgt{
//   .grp-btn{
//       width: 100%;
//       text-align: start;
//   }
// }
//   h2{
//       font-size: 0.7vw;
//       color: black;
//       font-family: 'Roboto';
//       }
//   .date{
//       border-radius: 50px;
//       width: 110px;
//       font-size: 0.7vw;
//       color: #858585;
//       margin-right: 10px;
//       background-color: #ffffff;
//       border: 1px solid #d4e1e7;
//       outline: none;
//       margin-bottom: 5px;
//       }
//   .report-dd{
//   .form-select{
//       padding-left: 15px;
//       margin-top: 5px;
//       border-radius: 50px;
//       width: 70%;
//       font-size: 0.7vw;
//       color: #858585;
//       font-family: 'Roboto';
//       background-image: url("../../../../assets/images/down_arrow.png");
//       background-size: auto;
//    }
//   span{
//   a{
//       text-decoration: none;
//       font-size: 0.55vw;
//       color: #33b3f3;
//       font-family: 'Roboto';
//       padding-left: 10px;}
//   }
//   h6{
//   span{
//       margin-top: 10px;
//       display: flex;
//       align-items: center;
//       padding-left: 5px ;
//   a{padding-left: 5px;}}
//   .fa-circle-plus{
//       font-size: 1rem;
//       padding-right: 0px;
//       color: #33b3f3;}
//       }
//   }
//   .source{.grp-btn{width: 70%;}}
//   .form-control{
//       margin-top: 6px;
//       border-radius: 50px;
//       width: 50%;
//       color: #858585;
//       background-color: #ffffff;
//       border: 1px solid #d4e1e7;
//       outline: none;
//       padding: 0.3rem 0.75rem;
//       font-family: "Roboto";
//       font-size: 0.7vw;
//       background: url(../../../../assets/images/cal_blk.png) #ffffff  95% no-repeat;
//     }
// .form-group {
//   .input-group {
//       position: relative;
//       display: flex;
//       flex-wrap: wrap;
//       align-items: stretch;
//       width: 93%;
//     }
//   .form-control{
//       margin-top: 6px;
//       border-radius: 50px;
//       width: 50%;
//       color: #858585;
//       background-color: #ffffff;
//       border: 1px solid #d4e1e7;
//       outline: none;
//       padding: 0.3rem 0.75rem;
//       font-family: "Roboto";
//       font-size: 0.7vw;
//       background: url(../../../../assets/images/cal_blk.png) #ffffff  95% no-repeat;
//     }
//   //   input[type="date"]{
// // 	position: relative;
// // }
// // input.datepicker{
// // 	width: 170px;  background: url(../../assets/images/Calendar.png) #dde3e9  95% no-repeat;border: #f1f4f6; color: black; padding: 3px 0px 3px 14px; height: 30px;
// // 	border-radius: 20px;
// //   }
// // input[type="date"]::-webkit-calendar-picker-indicator {
// //    background: transparent;
// //    color: black;
// //    position: absolute;
// //    height: auto;
// //    width: auto;
// //    left: 0;
// //    bottom: 0;
// //    right: 0;
// //    top: 0;
// //   }
// }
// }
// }
//   .footer{
//       background: #02113c;
//       border-radius: 0px 0px 20px 20px;
//       position: relative;
//       padding: 1.3rem;
//   .btn-primary{
//       margin-top: 0px;
//       border-radius: 50px;
//       width: 200px;
//       color: #fff !important;
//       background-color: #2a91f0 !important;
//       outline: none;
//       font-size: 0.7vw;
//       padding: 0.3rem 0.75rem;
//   }
//   .cancel-txt{
//       display: flex;
//       align-items: center;
//       text-decoration: none;
//       color: white;
//       font-size: 0.7vw;
//       padding-left: 10px;
//       cursor: pointer;
//   }
// }
// }
// .prt{
// cursor: pointer;
// }
// .alert-popup{
// background-color: #fff !important;
// color: #444649;
// }
// .btn-popup{
// margin-top: 0px;
// border-radius: 50px;
// width: 90%;
// color: #fff !important;
// background-color: #2a91f0 !important;
// outline: none;
// font-size: 0.9vw;
// padding: 0.3rem 0.5rem;
// border: none;
// }
// .modal {
// position: fixed;
// top: 0;
// left: 0;
// z-index: 1055;
// display: none;
// width: 100%;
// height: 90%;
// overflow-x: hidden;
// overflow-y: auto;
// outline: 0;
// }
// :host ::ng-deep .multiselect-dropdown .dropdown-list .item2{
// max-height: 200px !important;
// font-family: 'Roboto' !important;
// // display: flex;
// // flex-direction: column;
// // flex-wrap: wrap;
// // flex: 1 1 10px;
// }
// :host ::ng-deep .multiselect-dropdown .dropdown-list .item2 li h5{
// font-size: .6rem !important;
// font-family: 'Roboto' !important;
// }
// :host ::ng-deep .multiselect-dropdown .dropdown-list {
// position: absolute;
// padding-top: 6px;
// width: max-content;
// z-index: 9999;
// border: 1px solid #ccc;
// border-radius: 3px;
// background: #fff;
// margin-top: 10px;
// box-shadow: 0 1px 5px #959595;
// font-family: 'Roboto' !important;
// }
// @media(max-width: 1366px) {
// .scrollpopup{
//    max-height: 600px;
//    overflow: auto;
// }
// }



.reports-controls{
  height:auto;
  position: absolute;
  left: 20px;
  z-index: 999;
  width: inherit;
  box-shadow: 13px 0px 24px 0px rgba(0,0,0,0.1);
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.7rem 1rem;
  text-align: center;

  .title{
  font-family: 'Roboto';
  font-size: 0.9rem;
  color: #000;
  line-height: 3rem;
  text-transform: uppercase;
  .slash{color: #ef5f23;padding-right: 5px; }}
  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0px;
  height: 60vh;
  overflow: auto;

  .list-group-item{
  border-bottom: none;
  border-top: 2px solid rgba(238, 236, 236, 0.568);
  cursor: pointer !important;

  .rpt-icon{height: 25px;float: right;}
  .list-btn{
  .fa-icon{color: #a4a8ab;font-size: 1.3rem;}
  .fa-angles-right{color: #a4a8ab;font-size: 0.9rem;}
  .arrow-icon{height: 18px;}
  h6{
  color: #ef5f23;
  font-family: 'RobotoBold';
  font-size: 0.8rem;
}
  p{font-family: 'Roboto';font-size: 0.6rem;line-height: 10px;color: #000;}
  }
  }
  .Selected{
    background-color: #ef5f23 !important;
    color: #fff !important;
  }
  .UnSelected{
    background-color: #fff !important;
    color: #000 !important;
  }
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px;}
  .btn-view{background-color: black;white-space: nowrap; }
  .btn-save{background-color: #ef5f23; white-space: nowrap;}

  .cancel-txt{
  text-align: center;
  cursor: pointer;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color: #00000075;}
    }}
}


 ////////////////////////////////// REPORT PERIOD ///////////////////////////////

.report-period{
  margin-top: 1.2rem;
  width: auto;
  height: 80vh;
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.5rem 3rem;
  text-align: start;
  border-bottom: 2px solid rgba(238, 236, 236, 0.568);

  .title{
  font-family: 'RobotoBold';
  font-size: 0.9rem;
  color: #000;
  padding-top: 1rem;
  text-transform: capitalize;
  }
  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0px;
  height: 60vh;
  overflow: auto;

  .report-grid{
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:10px;


  .report-btn:hover {
  color: #fff;
  background-color: #ef5f23;
  outline: none;

  .fa-cal{filter: invert(1); }
  }

  .report-btn:active {
  color: #fff;
  background-color: #f18455f6;
  outline: none;
  }
  .btn{
      box-shadow: none;
  }

  .report-btn{
  border-radius: 25px;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: .7rem;
  border: none;

  border: 2px solid #e4e4e4;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  }
}

  .report-calendar{
  height: 150px;
  background-color: #ffffff;
  border-radius:30px;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
  overflow: auto;
   }
   .Selected{
    background-color: #ef5f23 !important;
  color: #fff !important;
  }
  .UnSelected{
    background-color: #fff !important;
    color: #000 !important;
  }
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px;}
  .btn-view{background-color: black; padding: .25rem;}
  .btn-save{background-color: #ef5f23;padding:.25rem}

  .cancel-txt{
  text-align: center;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color: #00000075;}
    }}
}

 ////////////////////////////////// REPORT STORES ///////////////////////////////
 .report-stores{
  margin-top: 1.2rem;
  width: auto;
  height: 80vh;
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.5rem 3rem;
  text-align: start;
  border-bottom: 2px solid rgba(238, 236, 236, 0.568);

  height: 50px;
  font-family: 'RobotoBold';
  font-size: 0.9rem;
  color: #000;

  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0 0 15px 0;
  height: 68vh;

  .grp-brands{overflow: auto;height: 64vh;
    border-right: 2px solid  rgba(238, 236, 236, 0.568);
  .btn{margin-bottom: 10px;}
  }

  .stores{
  overflow: auto;height: 64vh;
  .mb-10{margin-bottom: 10px;}
  .w-80{width: 47%;}
  .stores-grid{
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:10px;
} }

  .report-btn:hover {
  color: #fff;
  background-color: #faa27c;
  outline: none;
  }

  .report-btn:focus {
  color: #fff;
  background-color: #ef5f23;
  outline: none;
  }
  .report-btn.active {
    color: #fff;
    background-color: #ef5f23;
    outline: none;
    }
  .btn{
      box-shadow: none;
      width: 100%;
  }

  .report-btn{
  border-radius: 25px;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: .7rem;
  border: none;
  border: 2px solid #e4e4e4;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .Selected{
    background-color: #ef5f23 !important;
    color: #fff !important;
  }
  .UnSelected{
    background-color: #fff !important;
    color: #000 !important;
  }
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px;}
  .btn-view{background-color: black; padding: .25rem;}
  .btn-save{background-color: #ef5f23;padding:.25rem}

  .cancel-txt{
  text-align: center;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color: #00000075;}
    }}
}

 ////////////////////////////////// REPORT GROUPING ///////////////////////////////
 .report-grouping{
  margin-top: 1.2rem;
  width: auto;
  box-shadow: 3px 0px 18px 0px rgba(0,0,0,0.1);
  position: relative; z-index: 99;
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.5rem 3rem;
  text-align: start;
  border-bottom: 2px solid rgba(238, 236, 236, 0.568);
  h5{font-family: 'RobotoBold';font-size: 0.8rem;color: #000;}
  h6{font-size: 0.6rem;text-align: left;color: grey;}
  .report-btn{
      border-radius: 25px;
      background-color: #ffffff;
      font-family: 'Roboto';
      font-size: 0.6rem;
      border: 2px solid #e4e4e4;
      color: grey;
      padding: 2px 25px;
      }
      .report-btn:hover{
        color: #fff;
        background-color: #ef5f23;
        }
  .active{
      color: #fff;
      background-color: #ef5f23;
      outline: none;
  }
  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0 0 15px 0;
  height: 68vh;
  overflow: auto;

  .grouping-grid{
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:10px;

  .report-btn:hover {
  color: #fff;
  background-color: #f79970;
  outline: none;
  }

  .report-btn:focus {
  color: #fff;
  background-color: #ef5f23;
  outline: none;
  }
  .report-btn.active {
    color: #fff;
    background-color: #ef5f23;
    outline: none;
    }
  .btn{
      box-shadow: none;
  }

  .report-btn{
  border-radius: 25px;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;

  border: 2px solid #e4e4e4;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .disabled{
    pointer-events: none;
    opacity: 0.5;
    }
}
.Selected{
  background-color: #ef5f23 !important;
  color: #fff !important;
}
.UnSelected{
  background-color: #fff !important;
  color: #000 !important;
}
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px; padding: .25rem}
  .btn-view{background-color: black; padding: .25rem;}
  .btn-save{background-color: #ef5f23;padding: .25rem}

  .cancel-txt{
  text-align: center;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color: #00000075;}
    }}
}

 ////////////////////////////////// REPORT SALESPERSON ///////////////////////////////
 .report-salesperson{
  margin-top: 2.8rem;
  width: auto;
  box-shadow: 3px 0px 18px 0px rgba(0,0,0,0.1);
  position: relative;right: 40px;z-index: 9;
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.5rem;
  text-align: start;
  height: 50px;
  border-bottom: 2px solid rgba(238, 236, 236, 0.568);
  h5{font-family: 'RobotoBold';font-size: 0.9rem;color: #000;}
  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0 0 15px 0;
  height: 62vh;
  overflow: auto;

  .sales-grid{
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:10px;

  .btn{
      box-shadow: none;
  }

  .report-btn{
  border-radius: 25px;
  background-color: #ef5f23;
  font-family: 'Roboto';
  font-size: .7rem;
  border: none;

  border: 2px solid #e4e4e4;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
}
.Selected{
  background-color: #ef5f23 !important;
  color: #fff !important;
}
.UnSelected{
  background-color: #fff !important;
  color: #000 !important;
}
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;
  height: 50px;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px;}
  .btn-view{background-color: black; padding: .25rem;}
  .btn-save{background-color: #ef5f23;padding:.25rem}

  .cancel-txt{
  text-align: center;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color: #00000075;}
    }}
}


 ////////////////////////////////// REPORT FILTERS ///////////////////////////////
 .report-filters{
  margin-top: 1.2rem;
  width: auto;
  height: 80vh;
  .header{
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 0.5rem 3rem;
  text-align: start;
  border-bottom: 2px solid rgba(238, 236, 236, 0.568);

  .title{
  font-family: 'RobotoBold';
  font-size: 0.9rem;
  color: #000;
  padding-top: 1rem;
  text-transform: capitalize;
  }
  .close-btn{
  color: #d4d4d4;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 5px;
  }}


  .body{
  background:#ffffff;
  border-radius:0 0 15px 0;
  height: 68vh;
  overflow: auto;

  .filter{
      display: flex;
      padding: 0.7rem 0;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);

      h6{font-size: 0.8rem;font-family: 'Roboto';}
  }

  .report-grid{
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:10px;


  .report-btn:hover {
  color: #fff;
  background-color: #f8a27d;
  outline: none;
  }

  .report-btn:focus {
  color: #fff;
  background-color: #ef5f23;
  outline: none;
  }

  .report-btn.active {
    color: #fff;
    background-color: #ef5f23;
    outline: none;
    }
  .btn{
      box-shadow: none;
  }

  .report-btn{
  border-radius: 25px;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: .7rem;
  border: none;
  border: 2px solid #e4e4e4;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  }
}
.Selected{
  background-color: #ef5f23 !important;
  color: #fff !important;
}
.UnSelected{
  background-color: #fff !important;
  color: #000 !important;
}
}
.footer{
  border-top: 2px solid #e4e4e4;
  background-color: #eff3f6;
  border-radius:0px 0px 20px 20px ;

  button{
  border-radius: 25px;
  background-color: #ef5f23;
  color: white;
  font-family: 'Roboto';
  font-size: 0.7rem;
  border: none;
  width: 100%;
  text-transform: capitalize;
  }

  .btn-sm-save{background-color: black;width: 100px;}
  .btn-view{background-color: black; padding: .25rem;}
  .btn-save{background-color: #ef5f23;padding:.25rem}

  .cancel-txt{
  text-align: center;
  cursor: pointer;
  a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 0.6rem;
  cursor: pointer;
  color: #00000075;}
    }}
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free" !important;
  font-weight: bold !important;
  color: black !important;
}


::ng-deep .bs-datepicker {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background: #fff;
  box-shadow: 0 0 10px 0 #aaa;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  // top: 50px ;
  // right: 167px ;
  left: 30%;
}

::ng-deep .theme-green .bs-datepicker-head {
  background-color: #fff;

}
::ng-deep .bs-datepicker-head {
  min-width: 270px;
  height: 30px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  text-align: justify;
}
::ng-deep  .bs-datepicker-head button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}
::ng-deep .bs-datepicker-head button[disabled], .bs-datepicker-head button[disabled]:hover, .bs-datepicker-head button[disabled]:active {
  background: #fff;
  color: #000;
  cursor: not-allowed;
}

::ng-deep  .bs-datepicker-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
 padding-top: 0px;
 border-top: none;
}

::ng-deep  .bs-datepicker-body {
  padding: 10px;
  border-radius: 0 0 3px 3px;
  min-height: 190px;
  min-width: 270px;
  border:none;
}

::ng-deep  .bs-datepicker-body table th {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

::ng-deep .bs-datepicker-body table td {
  color: #000;
  text-align: center;
  position: relative;
  padding: 0;
}

::ng-deep  .bs-datepicker-body table.days span {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*=select-]:after, .theme-green .bs-datepicker-body table td[class*=select-] span:after {
  background-color: #e65f1b;
}

::ng-deep .bs-datepicker-body table.days td.active:not(.select-start):before, .bs-datepicker-body table.days td.in-range:not(.select-start):before, .bs-datepicker-body table.days span.active:not(.select-start):before, .bs-datepicker-body table.days span.in-range:not(.select-start):before {
  background: #fcded4 !important;
  height: 20px;
    margin-top: -3px;
}

::ng-deep  .is-other-month{
  display: none !important;
}
::ng-deep .bs-datepicker-container {
  padding: 10px;
}