table{
  width: 99%;
}

.setPerens:before {

  content: "("

}

.setPerens:after {

  content: ")"

}

.bold{
  font-family: 'RobotoBold';
  font-size: 0.8rem;
  white-space: nowrap;
  // background-color:#a2a3a7!important;
  //   color: #fff!important;
}
.notbold{
  font-family: 'Roboto';
  font-size: 0.7rem;

}
.store{
 background-color:#a2a3a7!important;
    color: #fff!important;

}
.storetotal{
  border-right: 2px #2d91f1;
}
.negative {
  color: red;
}
.maintitle{
  font-size: .90rem !important;
  font-family: 'RobotoBold' !important;
}
.colortitle{
  font-size: .8rem !important;
  font-family: 'RobotoBold' !important;
  td:first-child{
   color: #2a91f0 !important;
  }
}



.button{
  ul {
      width: fit-content;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      border-radius: 25px ;


    }

    li {
      float: left;
      border-right: 1px solid #ccc;

    }

    li a {
      display: block;
      width:fit-content;
      // color:#333;
      text-align: center;
      text-transform: capitalize;
      font-size: .8rem;
      padding:5px 60px;
      text-decoration: none;
      // background: linear-gradient( #fff ,#fff);
      font-family:'Roboto';
      cursor: pointer;
    }
    li a.active{background: #2a91f0; color: #fff; font-family: 'Roboto';}

    .bg-color{
      color: #fff ;
      background-color: #2a91f0;
      outline: none !important;
    }

    .bg-color-wt{
      color: #000;
      background-color: #fff;
      outline: none !important;
    }

    li a:hover {
      background: #2a91f0;
      color: #fff;
    }

    li:last-child{ border-right:none;}


  }
.gross-tbl  {
    overflow-x: auto;
    text-align: right;
    height: 85vh;

    table{
    // white-space: nowrap;
    // margin-bottom: 20px;

    table, td, th {
      border-collapse: collapse;
    }

    th {
      padding: 2px 25px;
    }

    td {
      padding: 2px 25px;
    }
    .sub-title td:first-child{
        padding: 2px 40px !important;
    }
      thead {

        background: #ffffff;font-family:'Roboto'; position: sticky;z-index: 5 ;top:0;box-shadow: inset 0 -5px 0 #2d91f1;
        tr:last-child  th:nth-child(-n+3){box-shadow: inset 0 -5px 0 #2d91f1;}
        // tr:first-child  th:first-child { border-radius: 15px 0 0 0;}
        // tr:first-child  th:last-child { border-radius: 0 15px 0 0;}
        tr:nth-child(1) th:not(:first-child){
          padding-bottom: 0px !important;
          color: black;
          font-size: .9rem;
          }
      tr:nth-child(1) th:not(:first-child){
      padding-bottom: 0px !important;
      color: #fff;
      font-size: 0.9rem;
      }

      .trgt{
        font-family: 'Roboto' !important;
        color: #a2a3a7 !important;
      }

      .SGtitle:nth-child(2) th:first-child{
        border-bottom: 5px solid #2d91f1;
        font-size: 1rem;
       text-align: center;
      }
      .SGtitle:nth-child(1) th:first-child{
        border-bottom: 5px solid #2d91f1;
        font-size: .9rem;

      }
      tr:nth-child(2) th:not(:first-child){
      padding-bottom: 10px;
      // color: #a2a3a7;
      font-size: .80rem;
      font-family: 'Roboto';

      }

      .factory-row:nth-child(1) th:not(:first-child){
        // padding-bottom: 10px !important;
        color: #a2a3a7 !important;
        font-size: 1rem !important;
      }
  }

      thead {
      tr th:first-child {
        position: sticky;
        z-index: 4;
        left: 0;
        // display: block;
        background-color: #2d91f1;
        color: white;
        font-size: .80rem;
        font-family: 'RobotoBold';
    }
    .TitleHead th:first-child{
        font-family: 'RobotoBold';
        background-color: #363b4f !important;
        font-size: 1.1rem;
        color: #fff;
    }
    .TitleHead th{
        font-family: 'RobotoBold';
        background-color: #363b4f !important;
        font-size: 1.1rem;
        color: #fff;
    }
    // th:nth-child(4) {
    //   border-right: 2px solid #e0e1e2;
    //   position: relative;
    //   padding-right: 1rem;
    //    }
    // th:nth-child(7) {
    // border-right: 2px solid #e0e1e2;
    // position: relative;
    // padding-right: 1rem;
    //  }
    // th:nth-child(9) {
    // border-right: 2px solid #e0e1e2;
    // position: relative;
    // padding-right: 1rem;
    // }



  }

  .divRed{ color: red !important;}
  .title-head th{
    background-color: #363b4f !important;
    font-family: 'Roboto';
  }
  .EmptyRed{
    background-color: #fff0 !important;
    font-family: 'Roboto';
    font-size: .9rem;
    color: red;
  }
  .EmptyRed td:first-child{
    background-color: #fff0 !important;
    color: red !important;
  }
  .Empty{
    background-color: #fff0 !important;

    font-family: 'Roboto';
    font-size: .9rem;
    color: #000;
     td:first-child{
    background-color: #fff0 !important;
    color: #000 !important;
  }


  }
  .Empty#363b4f{
    background-color: #363b4f !important;

    font-family: 'Roboto';
    font-size: .9rem;
    color: #fff;
  }
  .Empty#363b4f td:first-child{
    background-color: #363b4f !important;
    color: #fff !important;
  }
  .title-spl{
      font-size:  0.9rem;
  }
  .title-head td{
    background-color: #fff0 !important;
    font-family: 'Roboto';
  }

  .Expenses{
    td:first-child{
        background-color: #fff0 !important;  color: #000 !important;
     }
      td{
        background-color: #fff0 !important;  color: #000 !important;
     }
  }
  .EmptyRed td:not(:first-child){
    text-align: end;
  }
  .Empty#363b4fRow td:not(:first-child){
    text-align: end !important;
  }

    tbody {
      background: #fff;
    color: #788494;
    font-size: .7rem;
    font-family: 'Roboto';
    .title-head td:first-child{
      text-align: center;
    }
    .title-head td:first-child{
        background-color: #363b4f !important;
        border: none;
        z-index: 4;
        text-align: left ;
        color: #fff;
        font-family: 'Roboto';
        font-size:  0.9rem;
      }
      .title-head td:not(:first-child){
        background-color: #363b4f !important;
        color: #fff;
        font-family: 'Roboto';
        font-size:  0.9rem;
      }
      // tr:nth-child(4){
      //   background-color: #a2a3a7;
      //   color:black
      // }
      // td:nth-child(4) {
      //   border-right: 2px solid #e0e1e2;
      //   position: relative;
      //   padding-right: 1rem;
      //    }
      // td:nth-child(7) {
      //   border-right: 2px solid #e0e1e2;
      //   position: relative;
      //   padding-right: 1rem;
      //    }
      //   td:nth-child(9) {
      //   border-right: 2px solid #e0e1e2;
      //   position: relative;
      //   padding-right: 1rem;
      //   }

    tr  td:first-child {
    position: sticky;
    z-index: 4;
    left: 0;
    width: 150px;

    background: #363b4f;
    color: #fff;
    padding-right: 1rem;
    word-wrap: break-word;
    height: 25px;
      }
     .sub-title:hover{
        background-color: #363b4f !important;
        color: #fff !important;
      }
    //   .title:hover{
    //     // background-color: #363b4f !important;
    //     // color: #fff !important;
    //   }


      .title{
        color: #000;
        background-color: #363b4f;
      }
      .sub-title:nth-child(odd){
        color: #000;
        background-color: #e5e5e5;
      }


    .title{

    font-family: 'RobotoBold';
    color: #000;
    font-size:  0.8rem;


    td:first-child {
    color: #2d91f1;
    word-wrap: break-word;
    font-size:  0.8rem !important;
    text-align: left;
    }
    .sub-Trgt{
      font-family: 'Roboto' ;
      color: #000 ;
      background-color: #eaf4fd;
    }
    .sub-Diffrnce{
      font-family: 'Roboto' !important;
      color: #000 !important;
      background-color: #eaf4fd !important;
    }
    .sub-trgt{
      font-family: 'Roboto' ;
      background-color: #9dc9f169;
    }

    }
    .total{
    font-family: 'Roboto';
    color: #000;
    font-size: .9rem;
    border: 1px solid #2d7dcc;
    }

    .sub-title td:first-child{
      text-align: left;
    }
    .sub-title{
    color: #000;
    font-family: 'Roboto';
    font-size: .8rem;
    text-align: right ;

    td:nth-child(1) {
    color: #ffff;
       }
      .sub-trgt{
        font-family: 'Roboto' ;
        color: #000 ;
        background-color: #9dc9f169;
      }


     }
    }
  }
}
  .Refresh {
    text-align: right;
    width: 96%;
    color: #2a8fed;
    font-family: 'Roboto';
    font-size: 0.7rem;
    margin-top: 0.3rem;

  }

  .Refresh img {
    margin-left: 10px;
  }
