<div class="container-fluid pe-0 mt-3">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <div class="gross-tbl table-responsive ">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">&nbsp;</th>
                            <th colspan="7" style=" border-right: 2px solid #e0e1e2;">ROs Opened</th>
                        </tr>
                        <tr>
                            <th>Week 1 (If grouped by week)</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="title">
                            <td>
                                < 6am </td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>

                            <td>12</td>
                        </tr>
                        <tr class="title">
                            <td>6:00 am - 6:30 am</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>

                            <td>18</td>
                        </tr>
                        <tr class="title">
                            <td>6:30 am - 7:00 am</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>

                            <td>18</td>
                        </tr>
                        <tr class="title">
                            <td>7:00 am - 7:15 am</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>

                            <td>60</td>
                        </tr>
                        <tr class="title">
                            <td>7:15 am - 7:30 am</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>

                            <td>90</td>
                        </tr>
                        <tr class="title">
                            <td>7:30 am - 7:45 am</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>

                            <td>108</td>
                        </tr>
                        <tr class="title">
                            <td>7:45 am - 8:00 am</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>

                            <td>132</td>
                        </tr>
                        <!-- <ng-container>
                        <tr *ngIf="isOpen" style="background-color: gray;color: #fff; text-align: left;">
                           <th>RO#</th>
                           <th>Customer</th>
                           <th colspan="4">Vehicle</th>
                           <th colspan="2">RO Open Time</th>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>123</td>
                           <td>Smith</td>
                           <td>19 BMW 5 series</td>
                           <td>7:48 AM</td>
                           <td></td>
                           <td></td>

                           <td></td>
                           <td></td>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>456</td>
                           <td>Jones</td>
                           <td>15 Audi A6</td>
                           <td></td>
                           <td>7:52 AM</td>
                           <td></td>

                           <td></td>
                           <td></td>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>789</td>
                           <td>Johnson</td>
                           <td>14 Range Rover</td>
                           <td></td>
                           <td></td>
                           <td>7:55 AM</td>

                           <td></td>
                           <td></td>
                        </tr>
                     </ng-container> -->
                        <tr class="title">
                            <td>8:00 am - 8:15 am</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>

                            <td>102</td>
                        </tr>
                        <tr class="title">
                            <td>8:15 am - 8:30 am</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>

                            <td>90</td>
                        </tr>
                        <tr class="title">
                            <td>8:30 am - 8:45 am</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>

                            <td>78</td>
                        </tr>
                        <tr class="title">
                            <td>8:45 am - 9:00 am</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>

                            <td>30</td>
                        </tr>
                        <tr class="title">
                            <td>9:00 am - 9:30 am</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>

                            <td>42</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <div class="gross-tbl table-responsive ">
                <table>
                    <thead>
                        <tr>
                            <!-- <th rowspan="2" >&nbsp;</th>
                        <th colspan="7" style=" border-right: 2px solid #e0e1e2;">ROs Opened</th> -->
                        </tr>
                        <tr>
                            <th>Week 2 (If grouped by week)</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="title">
                            <td>
                                < 6am </td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>

                            <td>12</td>
                        </tr>
                        <tr class="title">
                            <td>6:00 am - 6:30 am</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>

                            <td>18</td>
                        </tr>
                        <tr class="title">
                            <td>6:30 am - 7:00 am</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>

                            <td>18</td>
                        </tr>
                        <tr class="title">
                            <td>7:00 am - 7:15 am</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>

                            <td>60</td>
                        </tr>
                        <tr class="title">
                            <td>7:15 am - 7:30 am</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>

                            <td>90</td>
                        </tr>
                        <tr class="title">
                            <td>7:30 am - 7:45 am</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>

                            <td>108</td>
                        </tr>
                        <tr class="title">
                            <td>7:45 am - 8:00 am</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>
                            <td>22</td>

                            <td>132</td>
                        </tr>
                        <!-- <ng-container>
                        <tr *ngIf="isOpen" style="background-color: gray;color: #fff; text-align: left;">
                           <th>RO#</th>
                           <th>Customer</th>
                           <th colspan="4">Vehicle</th>
                           <th colspan="2">RO Open Time</th>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>123</td>
                           <td>Smith</td>
                           <td>19 BMW 5 series</td>
                           <td>7:48 AM</td>
                           <td></td>
                           <td></td>

                           <td></td>
                           <td></td>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>456</td>
                           <td>Jones</td>
                           <td>15 Audi A6</td>
                           <td></td>
                           <td>7:52 AM</td>
                           <td></td>

                           <td></td>
                           <td></td>
                        </tr>
                        <tr *ngIf="isOpen" class="drldown">
                           <td>789</td>
                           <td>Johnson</td>
                           <td>14 Range Rover</td>
                           <td></td>
                           <td></td>
                           <td>7:55 AM</td>

                           <td></td>
                           <td></td>
                        </tr>
                     </ng-container> -->
                        <tr class="title">
                            <td>8:00 am - 8:15 am</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>
                            <td>17</td>

                            <td>102</td>
                        </tr>
                        <tr class="title">
                            <td>8:15 am - 8:30 am</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>

                            <td>90</td>
                        </tr>
                        <tr class="title">
                            <td>8:30 am - 8:45 am</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>
                            <td>13</td>

                            <td>78</td>
                        </tr>
                        <tr class="title">
                            <td>8:45 am - 9:00 am</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>

                            <td>30</td>
                        </tr>
                        <tr class="title">
                            <td>9:00 am - 9:30 am</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>

                            <td>42</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <ng-container class="pt-3">
                            <tr class="title ttl-title">
                                <td>Report Totals</td>
                                <td>130</td>
                                <td>130</td>
                                <td>130</td>
                                <td>130</td>
                                <td>130</td>
                                <td>130</td>

                                <td>780</td>
                            </tr>
                        </ng-container>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>