<ngx-spinner  bdColor="rgba(51,51,51,0.8)"  size="medium"  color="white"  type="ball-fussion">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
<!-- <app-header></app-header>
<div class="Refresh">Updated: 06/08/22 07:35:56 am <img src="../../../assets/images/refresh_icon.png" alt=""> </div> -->
<div class="container pe-0 mt-3">
    <div class="col-lg-12">
        <div class="d-flex"  *ngIf="Grid">
              <table style="width: 100%;">
                  <tbody>
                      <tr>
                        <table class="sec-tbl1">
                            <thead>
                                <tr >
                                    <th>&nbsp;</th>
                                  <th style="width: 30%;">
                                      <div class="row" style="float: left; padding: 3%;">
                                        <div class="getuser col-6">
                                          <label class="getuserlabel">Roles</label>
                                        </div>
                                        <div class="AddIcon col-6">
                                          <a style="cursor: pointer"><img src="../../assets/images/add.png" (click)="AddShowPanel()" /></a>
                                        </div>
                                      </div>
                                    </th>
                                    <th style="width: 50%;" >
                                      <div style="float: left" style="background:none;"></div>
                                    </th>
                                    <th style="width: 30%; text-align: end; ">
                                        <div style="padding: 3%;">
                                            <div class="search">
                                                <input type="text" class="form-control" style="padding: 0.275rem 0.75rem;" placeholder="Search" name="role_name" [(ngModel)]="role_name"  >
                                              </div>
                                              <div style="float: right; margin-top: -31px; margin-right: 7px;"><img
                                                  src="../../assets/images/Search-Icon.png"></div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                      </tr>
                      <tr class="pt-3 pb-3">
                          <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <div class="sec-tbl table-responsive" >
                            <table>
                                <thead>
                                    <tr>
                                        <th rowspan="2"></th>
                                        <th style="width: 40%;" class="RoleName">Name</th>
                                        <th style="width: 30%;" >Status</th>
                                        <th style="width: 30%;" >Edit</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="(RolesData | filter:role_name).length >0; else ifNotShow">
                                    <tr class="title even" *ngFor="let list of RolesData | filter:role_name">
                                        <td><span>&nbsp;</span></td>
                                        <td style="width: 40%;" class="RoleName">{{list.Role_Name}}</td>
                                        <td style="width: 30%;" [ngClass]="list.Role_Status=='Y'?'Active':'Inactive'">{{list.Role_Status=='Y'?'Active':'Inactive'}}</td>
                                        <td style="width: 30%;"><img src="../../assets/images/edit_icon.png" style="cursor: pointer;" (click)="EditShowPanel(list)"  alt=""></td>
                                    </tr>
                                    <tbody>
                                </table>
            
                        </div>
                      </tr>
                  </tbody>
              </table>
              <ng-template #ifNotShow >
                  <tr *ngIf="NoDetailFound">
                    <td colspan="4" class="NoDataFound"><label>No Details Found </label></td>
                  </tr>
              </ng-template>
        </div>
        <div class="container " *ngIf="AddPanel">
          <nav class="navbar navbar-light bg-light mb-4">
            <span class="navbar-brand mb-0 ">Roles</span>
          </nav>
          <div class="pt64 ">
             <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <form [formGroup]="RolesForm" >
                                <div class="container">
                                    <div class="row pb-4">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="role" class="pb-2">Role:</label>
                                            <input type="text" class="form-control" placeholder="Enter role"  formControlName="Role_Name"
                                            [ngClass]="{ 'is-invalid': submitted && form.Role_Name.errors }">

                                            <small class="text-danger" *ngIf="submitted && form.Role_Name.errors" >
                                                <div *ngIf="form.Role_Name.errors.required">Role is required</div>
                                                <div *ngIf="form.Role_Name.errors.pattern">Enter only characters</div>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row pb-4">
                                        <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="StatusHide">
                                            <label  for="Role_Status" >Status :
                                        
                                                <input style="cursor: pointer;" [checked]="isstatus" type="checkbox"   (change)="ChangeStatus($event.target.checked)"   name="Role_Status" formControlName="Role_Status">&nbsp;
                                              
                                             </label>
                                        </div> -->

                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="StatusHide">
                                          Status: <label [ngStyle]="{'color': StatusValue=='Y' ? 'green' : 'red' }" >
                                              <input
                                              type="checkbox" [checked]="StatusValue=='Y'"
                                              (change)="checkStatus($event)">&nbsp;{{StatusValue =='Y' ? 'Active':'In-Active'}}
                                           </label>
                                      </div>
                                      </div>
                                    <div class="col-lg-12 pt-lg-4 pl-lg-4">
                                        <div class="row">
                                          <div class="col-lg-2" *ngIf="AddSave">
                                            <button type="submit" class="savebutton" (click)="RoleInsert()" >Save</button>
                                          </div>
                                          <div class="col-lg-2" *ngIf="EditSave">
                                            <button  type="submit"  class="savebutton" (click)="RoleUpdate()" >Save</button>
                                          </div>
                                          <div class="col-lg-2">
                                            <input type="button" class="savebutton" (click)="Cancel()" Value="Cancel" />
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>