.negative {
  color: red;
}
.pntr{
cursor: pointer;
}
.Anchor{
  font-size: .8rem;
  font-family: 'Roboto';
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.Anchor:hover{
  font-size: .8rem;
  font-family: 'Roboto';
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.gross-tbl {
  overflow-x: hidden;
  text-align: center;

  table {
    white-space: nowrap;

    table,
    td,
    th {
      border-collapse: collapse;
    }

    th {
      padding: 3.2px 5px;
    }

    td {
      padding: 2px 8px;
    }

    thead {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 -5px 0 #2d91f1;
      background: #ffffff;
      font-family: "Roboto";
      position: sticky;
      // z-index: 2;
      // top:0;

      // tr th{
      // z-index: 3;
      // left: 0;
      // top: 0;}

      tr:nth-child(1) th:not(:first-child) {
        padding-bottom: 0px !important;
        color: black;
        font-size: 0.8vw;
      }

      tr:nth-child(2) th:not(:first-child) {
        padding-bottom: 10px;
        color: #a2a3a7;
        font-size: 0.8vw;
      }
    }

    thead {
      tr th:first-child {
        position: sticky;
        z-index: 4;
        left: 0;
        display: block;
        background-color: #2d91f1;
        color: white;
        font-size: 0.82vw;
      }

      th:nth-child(5n + 6) {
        // //border-right: 2px solid #e0e1e2;
        position: relative;
      }
    }

    tbody {
      background: #fff;
      color: #788494;
      font-size: 0.8vw;
      font-family: "Roboto";

      tr td:first-child {
        position: sticky;
        z-index: 4;
        left: 0;
        width: 150px;
        text-align: end;
        background: #363b4f;
        color: #e3e3e3;
        padding-right: 1rem;
        cursor: pointer;
      }

      td:nth-child(5n + 6) {
        // //border-right: 2px solid #e0e1e2;
        position: relative;
      }
      tr:last-child td {
        padding-bottom: 1.3rem;
      }
      .title {
        cursor: pointer;
        font-family: "Roboto";
        color: #000;
        font-size: 0.8vw;
        height: 35px;

        td:first-child {
          color: white;
          word-wrap: break-word;
          cursor: pointer;
        }
      }

      .sub-title {
        color: #000;
        font-family: "Roboto";
        font-size: 0.8vw;

        td:nth-child(1) {
          color: #2d7dcc;
        }
      }
    }
  }
}

.sec-tbl {
  width: auto;
  overflow-x: auto;
  text-align: center;
  max-height: 70vh;

  // box-shadow: 0px 2px 8px 0px  #333;
  //background-color: #fff;

  table {
    white-space: nowrap;

    table,
    td,
    th {
      border-collapse: collapse;
    }

    th {
      padding: 16px 40px;
    }

    td {
      padding: 9px 40px !important;
      text-align: right;
    }

    .divRed {
      color: red;
    }

    thead {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 -5px 0 #2d91f1;
      background: #ffffff;
      font-family: "Roboto";
      position: sticky;
      z-index: 2;
      top: 0;

      tr:nth-child(1) th:not(:first-child) {
        padding-bottom: 10px !important;
        font-size: 0.8vw;
      }

      tr:nth-child(2) th:not(:first-child) {
        padding-bottom: 10px;
        color: #a2a3a7;
        font-size: 0.8vw;
        font-family: "Roboto";
        font-weight: normal;
      }
    }

    thead {
      tr th:first-child {
        left: 0;
        display: block;
        color: #000;
        font-size: 0.8vw;
        padding:16px 10px;
      }

      th:nth-child(4) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(8) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(15) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(18) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(19) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }
    }

    tbody {
      background: #fff;
      // color: #788494;
      font-size: 0.8vw;
      font-family: "Roboto";
      tr td:first-child {
        padding: 5px 0 !important;
      }
      // tr:last-child td{padding-bottom:1.3rem;}

      tr:hover {
        background-color: #363b4f !important;
        color: white !important;
        .Anchor{
          font-size: .8rem;
          font-family: 'Roboto';
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      td:nth-child(2) {
        //border-right: 2px solid #e0e1e2;
        // position: relative;
        // padding-right: 1rem;
        text-align: left !important;
      }
      td:nth-child(4) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(8) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(15) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(18) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(19) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }



      .title {
        font-family: "Roboto";
        color: #000;
        font-size: 0.8vw;
        height: 35px;

        td:first-child {
          color: #000;
          word-wrap: break-word;
        }
      }

      .sub-title {
        color: #000;
        font-family: "Roboto";
        font-size: 0.8vw;
      }
    }
  }
}

.head-tbl {
  width: 80%;
  overflow-x: auto;
  text-align: center;
  // box-shadow: 0px 2px 8px 0px  #333;
  //background-color: #fff;

  table {
    white-space: nowrap;

    table,
    td,
    th {
      border-collapse: collapse;
    }

    th {
      padding: 7px 10px;
    }

    td {
      padding: 13px 42px;
      text-align: right;
    }

    .divRed {
      color: red;
    }

    thead {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 -5px 0 #2d91f1;
      background: #ffffff;
      font-family: "Roboto";
      // position: sticky;
      // z-index: 2;
      // top:0;

      tr:nth-child(1) th:not(:first-child) {
        padding-bottom: 0px !important;
        font-size: 0.8vw;
      }

      tr:nth-child(2) th:not(:first-child) {
        padding-bottom: 10px;
        color: #a2a3a7;
        font-size: 0.8vw;
        font-family: "Roboto";
      }
    }

    thead {
      tr th:first-child {
        //   left: 0;
        //   display: block;
        //   color: #000;
        //   font-size: .8vw;
      }

      th:nth-child(12) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(15) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(17) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      th:nth-child(21) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }
      th:nth-child(24) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }
      th:nth-child(29) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }
    }

    tbody {
      background: #fff;
      color: black !important;
      font-size: 0.8vw;
      font-family: "Roboto";
      tr td:first-child {
        padding: 5px 0 !important;
      }
      // tr:last-child td{padding-bottom:1.3rem;}

      tr:hover {
        background-color: #363b4f !important;
        color: white !important;
        .Anchor{
          font-size: .8rem;
          font-family: 'Roboto';
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      // tr td:first-child {
      // position: sticky;
      // z-index: 4;
      // left: 0;
      // width: 150px;
      // text-align: end;
      // background: #00123e;
      // color: #788494;
      // padding-right: 1rem;
      //   }

      td:nth-child(12) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(15) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(17) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(21) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(24) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(29) {
        //border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
      }

      td:nth-child(7) {
        text-align: right;
      }

      td:nth-child(8) {
        text-align: right;
      }

      .title {
        font-family: "Roboto";
        color: #000;
        font-size: 0.8vw;
        height: 35px;

        td:first-child {
          color: #000;
          word-wrap: break-word;
        }
      }

      .sub-title {
        color: #000;
        font-family: "Roboto";
        font-size: 0.8vw;
      }
    }
  }
}

.header {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid #edf1f4;
  position: relative;
  padding: 0.7rem 2rem 0.7rem 4rem;
}
.title {
  font-family: "RobotoBold";
  font-size: 1vw;
  color: #444649;
  line-height: 2rem;

  .slash {
    color: #e65f1b;
    padding-right: 5px;
  }
}
.add-btn
 {

  border-radius: 75px;
  width: auto;
  color: white;
  background-color: #2d91f1;
  border: 1px solid #d4e1e7;
  outline: none;
  padding: 0.5rem 1rem;
  font-family: "Roboto";
  font-size: 0.6vw;
}
.grp-btn,
.grp-sml-btn {
  margin-top: 25px;
  border-radius: 75px;
  width: 100%;
  color: white;
  background-color: #2d91f1;
  border: 1px solid #d4e1e7;
  outline: none;
  padding: 0.5rem 4rem;
  font-family: "Roboto";
  font-size: 0.7vw;
}

.odd {
  background: #f0f0f0;
}

.Refresh {
  text-align: right;
  width: 96%;
  color: #2a8fed;
  font-family: "Roboto";
  font-size: 0.8vw;
  margin-top: 0.3rem;
}

.Refresh img {
  margin-left: 10px;
}
.TotalDueDates {
  border-top: 2px solid gray;
  font-family: "RobotoBold";
  font-size: 1vw;
}

@media (min-width: 1800px) {
  .sec-tbl {
    td {
      padding: 4px 17px !important;
    }
  }

  .Refresh {
    text-align: right;
    width: 99%;
    color: #2a8fed;
    font-family: "Roboto";
    font-size: 0.8vw;
    margin-top: 0.3rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4e1e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  bottom: 0.15rem;
  background-color: #2a8fed;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d4e1e7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2a91f0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.negative {
  color: red;
}


.favourites-popup{
  width: 100%;

  .header{
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid #edf1f4;
  position: relative;
  padding: 0.5rem 3rem;

  .close-btn{
  color: #d4d4d4;
  font-size: 1.3vw;
  position: absolute;
  right: 20px;
  }

  .title{
  font-family: 'Roboto';
  font-size: 1vw;
  color: #444649;
  line-height: 2rem;
  text-transform: uppercase;
  .slash{
  color: #e65f1b;
  padding-right: 5px;
          }}}

  .body{
  background-color: #f5f9f7;
  padding:1rem 2rem;
  border-radius: 0px 0px 20px 20px;

 .cntr{
text-align: center;
 }
  h5 {
      font-size: 0.9vw;
      margin: 0px;
      font-family: 'RobotoBold';
      color: #858585;
      padding-left: 5px;
  }
	input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background: #ffffff;
    outline: none;
    font-size: .8rem;
    font-weight: bold;
  }


.disabled{
pointer-events: none;
opacity: 0.5;
}
.Pointer{
pointer-events: none;
}
.btn-primary{
  margin-top: 0px;
  border-radius: 50px;
  width: 200px;
  color: #fff !important;
  background-color: #2a91f0 !important;
  outline: none;
  font-size: 0.7vw;
  padding: 0.3rem 0.75rem;

}
  .active {
      color: #fff !important;
      background-color: #e65f1b !important;
      outline: none;
    }
  .grp-btn:focus, .grp-sml-btn:focus {
      color: #fff;
      background-color: #e65f1b;
      outline: none;
    }

  .grp-btn, .grp-sml-btn{
      margin-top: 6px;
      border-radius: 50px;
      width: 100%;
      color: #fff;
      background-color: #e65f1b;
      border: 1px solid #d4e1e7;
      outline: none;
      padding: 0.3rem 0.75rem;
      font-family: 'Roboto';
      font-size: 0.7vw;}

  .grp-sml-btn{
      width: 90px;
      margin-right: 10px;
      // white-space: nowrap;
  }






}
  .footer{
      background: #02113c;
      border-radius: 0px 0px 20px 20px;
      position: relative;
      padding: 1.3rem;

  .btn-primary{
      margin-top: 0px;
      border-radius: 50px;
      width: 200px;
      color: #fff !important;
      background-color: #2a91f0 !important;
      outline: none;
      font-size: 0.7vw;
      padding: 0.3rem 0.75rem;

  }

  .cancel-txt{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 0.7vw;
      padding-left: 10px;
      cursor: pointer;
  }


}
}

.loader {
  border: 5px solid #c8bdbd;
   border-radius: 50%;
   border-top: 5px solid #2d91f1;
  width: 50px;
   height: 50px;
  animation: spin 2s linear infinite;
   top: 5rem;
   position: absolute;
  left: 11rem;
  }

  @keyframes spin {
  0% {
   transform: rotate(0deg);
   }
  100% {
  transform: rotate(360deg);
   }
  }

  @media(max-width: 1366px) {

    th {
      padding: 16px 45px !important;
    }

    td {
      padding: 9px 45px !important;

    }


  }
