<div class="container-fluid pe-0 mt-1 mb-3">
    <div class="col-12">
        <div class="d-flex">
            <div class="gross-tbl table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Parts & Service </th>
                        </tr>
                        <tr>
                            <th rowspan="2">Receivables</th>
                        </tr>
                    </thead>
                    <tbody (click)="openMenu()">
                        <tr class="title">
                            <td>Warranty Company 1</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 2</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 3</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 4</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 5</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 6</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 7</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 8</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 9</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 1</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 2</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 3</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 4</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 5</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 6</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 7</td>
                        </tr>
                        <tr class="ttl-title">
                            <td>Total Parts & <br>
                                Service Receivables</td>
                        </tr>
                    <tbody>
                </table>
            </div>
            <div class="sec-tbl table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Chevrolet</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Toyota</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Acura</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Honda</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Total</th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2; width: 50%;text-align: center;">Aged
                                Balance</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>0-15</th>
                            <th>16-30</th>
                            <th>31-45</th>
                            <th>46-60</th>
                            <th>Over 60</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="title">
                            <td><span>&nbsp;</span></td>
                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$200,000</td>

                            <td>$75,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$10,000</td>
                        </tr>

                        <tr class="title">
                            <td></td>
                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$190,000</td>

                            <td>$70,000</td>
                            <td>$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>

                        <tr class="title">
                            <td></td>
                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$180,000</td>

                            <td>$65,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$170,000</td>

                            <td>$60,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$10,000</td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$160,000</td>

                            <td>$55,000</td>
                            <td>$10,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$150,000</td>

                            <td>$50,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$140,000</td>

                            <td>$45,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$130,000</td>

                            <td>$40,000</td>
                            <td>$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$120,000</td>

                            <td>$35,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$20,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$110,000</td>

                            <td>$30,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$100,000</td>

                            <td>$25,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$90,000</td>

                            <td>$20,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$80,000</td>

                            <td>$15,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$70,000</td>

                            <td>$10,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$60,000</td>

                            <td>$5,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$50,000</td>

                            <td>$0</td>
                            <td>$15,000</td>
                            <td class="divRed">$10,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="ttl-title">
                            <td></td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$2,000,000</td>
                            <td>$6,000,000</td>
                            <td>$65,000</td>
                            <td>$130,000</td>
                            <td>$110,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$30,000</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-12 mt-4">
        <div class="d-flex">
            <div class="gross-tbl table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Factory </th>
                        </tr>
                        <tr>
                            <th rowspan="2">Receivables</th>
                        </tr>
                    </thead>
                    <tbody (click)="openMenu()">
                        <tr class="title">
                            <td>Warranty Company 1</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 2</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 3</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 4</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 5</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 6</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 7</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 8</td>
                        </tr>
                        <tr class="title">
                            <td>Warranty Company 9</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 1</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 2</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 3</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 4</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 5</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 6</td>
                        </tr>
                        <tr class="title">
                            <td>Parts Customer 7</td>
                        </tr>
                        <tr class="ttl-title">
                            <td>Total Factory <br>
                                Receivables</td>
                        </tr>
                    <tbody>
                    <tbody class="empty">
                        <tr>
                            <td style="background-color: transparent !important;">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="ttl-title">
                            <td>REPORT TOTALS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sec-tbl table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Chevrolet</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Toyota</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Acura</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Honda</th>
                            <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Total</th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2; width: 50%;text-align: center;">Aged
                                Balance</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>Balance</th>

                            <th>0-15</th>
                            <th>16-30</th>
                            <th>31-45</th>
                            <th>46-60</th>
                            <th>Over 60</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="title">
                            <td><span>&nbsp;</span></td>
                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$100,000</td>

                            <td>$200,000</td>

                            <td>$75,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$10,000</td>
                        </tr>

                        <tr class="title">
                            <td></td>
                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$95,000</td>

                            <td>$190,000</td>

                            <td>$70,000</td>
                            <td>$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>

                        <tr class="title">
                            <td></td>
                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$90,000</td>

                            <td>$180,000</td>

                            <td>$65,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$85,000</td>

                            <td>$170,000</td>

                            <td>$60,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$10,000</td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$80,000</td>

                            <td>$160,000</td>

                            <td>$55,000</td>
                            <td>$10,000</td>
                            <td class="divRed"></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$75,000</td>

                            <td>$150,000</td>

                            <td>$50,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$70,000</td>

                            <td>$140,000</td>

                            <td>$45,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$65,000</td>

                            <td>$130,000</td>

                            <td>$40,000</td>
                            <td>$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$60,000</td>

                            <td>$120,000</td>

                            <td>$35,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$20,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$55,000</td>

                            <td>$110,000</td>

                            <td>$30,000</td>
                            <td></td>
                            <td class="divRed">$15,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$50,000</td>

                            <td>$100,000</td>

                            <td>$25,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$45,000</td>

                            <td>$90,000</td>

                            <td>$20,000</td>
                            <td></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$40,000</td>

                            <td>$80,000</td>

                            <td>$15,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$35,000</td>

                            <td>$70,000</td>

                            <td>$10,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed">$25,000</td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$30,000</td>

                            <td>$60,000</td>

                            <td>$5,000</td>
                            <td></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="title">
                            <td></td>
                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$25,000</td>

                            <td>$50,000</td>

                            <td>$0</td>
                            <td>$15,000</td>
                            <td class="divRed">$10,000</td>
                            <td class="divRed"></td>
                            <td class="divRed"></td>
                        </tr>
                        <tr class="ttl-title">
                            <td></td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$1,000,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$2,000,000</td>
                            <td>$6,000,000</td>
                            <td>$65,000</td>
                            <td>$130,000</td>
                            <td>$110,000</td>
                            <td style="border-right: 2px solid #e0e1e2;">$30,000</td>
                        </tr>
                    </tbody>
                    <tbody class="empty">
                        <tr>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                            <td style="border-right: none;">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="ttl-title ">
                            <td></td>
                            <td>$2,000,000</td>
                            <td>$2,000,000</td>
                            <td>$2,000,000</td>
                            <td>$2,000,000</td>
                            <td>$4,000,000</td>
                            <td>$1,200,000</td>
                            <td>$130,000</td>
                            <td>$260,000</td>
                            <td>$220,000</td>
                            <td>$60,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>