

.gross-tbl  {
   
    overflow-x: hidden;
    text-align: center;
  
    table{
    white-space: nowrap; 
    
    table, td, th {
      border-collapse: collapse;
    }
    
    th {
      padding: 3.2px 5px;
    }
    
    td {
      padding: 2px 8px;
    }
    
      thead {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 -5px 0 #2d91f1;
      background: #ffffff;
      font-family: 'Roboto';
      position: sticky;
      z-index: 2;
      top:0;
  
      // tr th{
      // z-index: 3;
      // left: 0;
      // top: 0;}
  
      tr:nth-child(1) th:not(:first-child){
      padding-bottom: 0px !important;
      color: black;
      font-size: .9vw;
      }
  
      tr:nth-child(2) th:not(:first-child){
      padding-bottom: 10px;
      color: #a2a3a7;
      font-size: .7vw;
      }
  }
  
      thead {
      tr th:first-child {
      position: sticky;
      z-index: 4;
      left: 0;
      display: block;
      background-color: #2d91f1;
      color: white;
      font-size: .82vw;
  
    }
    
    th:nth-child(5n + 6) 
    {
  
    border-right: 2px solid #e0e1e2;
    position: relative;
     }
  
  }
  
  
    tbody {
      background: #fff;
    color: #788494; 
    font-size: .7vw;
    font-family: 'Roboto';
  
    tr td:first-child {
    position: sticky;
    z-index: 4;
    left: 0;
    width: 150px;
    text-align: end;
    background: #363b4f;
    color: #e3e3e3;
    padding-right: 1rem;
    cursor: pointer;
      }
  
  
    td:nth-child(5n + 6) {
    border-right: 2px solid #e0e1e2;
    position: relative;
       }
    tr:last-child td{padding-bottom:1.3rem;}
    .title{
  cursor: pointer;
    font-family: 'Roboto';
    color: #000;
    font-size: .8vw; height: 35px;
  
    td:first-child {
    color: white;
    word-wrap: break-word;
    cursor: pointer;
    }
  
    }
  
    .sub-title{
    color: #000;
    font-family: 'Roboto';
    font-size: .7vw;
  
    td:nth-child(1) {
    color: #2d7dcc;
       }
  
   }
  
  
    }
  }
  }
  .sec-tbl1{
    background: #ffffff;
  }
  .sec-tbl  {
    width: 100%;
    overflow-x: auto;
    text-align: center;
    height: 60vh;
    // box-shadow: 0px 2px 8px 0px  #333;
    // background-color: #fff;
  
    table{
    white-space: nowrap; 
    
    table, td, th {
      border-collapse: collapse;
    }
    
    th {
      padding:2px 5px;
    }
    
    td {
      padding: 2px 8px;
      text-align: center;
    }
  
    .divRed{ color: red;}
    
      thead {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 -5px 0 #2d91f1;
      background: #ffffff;
      font-family: 'Roboto';
      position: sticky;
      z-index: 2;
      top:0;
  
     
      tr:nth-child(1) th:not(:first-child){
      padding-bottom: 10px !important;
      padding-top: 10px !important;
      font-size: .9vw;
      }
  
      tr:nth-child(2) th:not(:first-child){
      padding-bottom: 10px;
      color: #a2a3a7;
      font-size: .7vw;
      font-family: 'Roboto';
      }
  
      
  }
  
      thead {
      tr th:first-child {
      left: 0;
      display: block;
      color: #000;
      font-size: .7vw;
  
    }
    
    
  
       th:nth-child(19) 
       {
       border-right: 2px solid #e0e1e2;
       position: relative;
       padding-right: 1rem;
        }
    
   
  }
  
    tbody {
      background: #fff;
    color: #788494; 
    font-size: .7vw;
    font-family: 'Roboto';
    tr td:first-child {
      padding: 2px 0 !important;
    }
    
  
    tr:hover{
      background-color: #363b4f !important;
      color: white !important;
    }
    // tr td:first-child {
    // position: sticky;
    // z-index: 4;
    // left: 0;
    // width: 150px;
    // text-align: end;
    // background: #00123e;
    // color: #788494;
    // padding-right: 1rem;
    //   }
  
 
  
               td:nth-child(19) {
                border-right: 2px solid #e0e1e2;
                position: relative;
                padding-right: 1rem;
                   }
  
       td:nth-child(7) 
       {
         text-align: right;
        }
  
        td:nth-child(8) 
        {
          text-align: right;
         }
  
    .title{
  
    font-family: 'Roboto';
    color: #000;
    font-size: .8vw; height: 35px;
  
    td:first-child {
    color: #000;
    word-wrap: break-word;
    }
  
    
  
    }
  
    .sub-title{
    color: #000;
    font-family: 'Roboto';
    font-size: .7vw;
    
   
  
   }
  
  
    }
  }
  }

   tr:nth-of-type(even){
    background: #f0f0f0;
   }
  .odd{background: #f0f0f0;}
  
  .Refresh {
    text-align: right;
    width: 96%;
    color: #2a8fed;
    font-family: 'Roboto';
    font-size: 0.8vw;
    margin-top: 0.3rem;
    
  }
  
  .Refresh img {
    margin-left: 10px;
  }
  
  .savebutton {
    background: #2a8fed;
    border: 1px solid #2a8fed;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
   }
   .Active{
    color: green !important;
  }
  .Inactive{
    color: red !important;
  }
 .text-align{
     text-align: left !important;
 }
  .error{
    color: red;
  }

  .NoDataFound{
    font-family: 'Roboto';
    color: red;
    background-color: #fff;
    font-size: .8vw;
    height: 35px;
  }
  .pt64{
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 35px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .navbar{
    padding-left: 20px;
    border: 0.5px solid lightgray;
    background-color: #fff !important;
  }
  .navbar-brand{
    font-weight: bold;
    font-size: medium;
  }
  @media(min-width: 1800px) {
    
    .sec-tbl  {
      td {
        padding: 2px 16px !important;
      }
    }
  
    .Refresh {
      text-align: right;
      width: 99%;
      color: #2a8fed;
      font-family: 'Roboto';
      font-size: 0.8vw;
      margin-top: 0.3rem;
    }
  
  }