.negative{
  color: red;
}
.Bold{
  font-family: 'RobotoBold';
  color: #fff !important;
  font-size: .85rem;
  padding: 4px 10px;
}
.gross-tbl  {
  overflow-x: auto;
  text-align: left;
  // height: 85vh;

  table{
  white-space: nowrap;
  margin-bottom: 20px;

  table, td, th {
    border-collapse: collapse;

  }

  th {
    padding: 4px 25px;
  }

  td {
    padding: 4px 25px;
  }


  thead {
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: inset 0 -5px 0 #2d91f1;
    background: #ffffff;
    font-family: 'Roboto';
    text-align: center;
    // position: sticky;
    // z-index: 2;
    // top:0;

    // tr th{
    // z-index: 3;
    // left: 0;
    // top: 0;}

  tr:nth-child(1) th:not(:first-child){
    padding-bottom: 0px !important;
    color: black;
    font-size: .9rem;
  }

  tr:nth-child(2) th:not(:first-child){
    padding-bottom: 10px;
    color: #a2a3a7;
    font-size: .8rem;
  }
}

  thead {
  tr th:first-child {
    position: sticky;
    z-index: 4;
    left: 0;
    display: block;
    background-color: #2d91f1;
    color: white;
    font-size: .9rem;
  font-style: 'RobotoBold';
}

  th:nth-child(5){
    border-right: 2px solid #e0e1e2;
    position: relative;
  }
  th:nth-child(9){
    border-right: 2px solid #e0e1e2;
    position: relative;
  }
  th:nth-child(13){
    border-right: 2px solid #e0e1e2;
    position: relative;
  }

}


  tbody {
    background: #fff;
    color: #788494;
    font-size: .8rem;
    font-family: 'Roboto';
    text-align: end;
  tr td:first-child {
    position: sticky;
    z-index: 4;
    left: 0;
    width: 150px;
    text-align: left;
    background: #363b4f;
    color: #fff;
    padding-right: 1rem;

    }
    tr:nth-child(odd){
      background-color: #e5e5e5;
    }
    tr:hover{
      background-color: #363b4f;
      color: #fff !important;
    }



    td:nth-child(5){
      border-right: 2px solid #e0e1e2;
      position: relative;
      }
   td:nth-child(9){
      border-right: 2px solid #e0e1e2;
      position: relative;
      }
    td:nth-child(13){
      border-right: 2px solid #e0e1e2;
      position: relative;
      }

  .title{

  font-family: 'RobotoBold';
  color: #000;
  font-size: .85rem;

  td:first-child {
  color: white;
  word-wrap: break-word;
  }
  }
  .main-title{
    font-family: 'RobotoBold';
    color: #000;
    font-size: .9rem;

    td:first-child {
    color: white;
    word-wrap: break-word;
    padding: 8px 25px;
    }
  }
  .bgtitle{
    background-color: #363b4f !important;
    color: #fff !important;
  }
  .txtright{
    text-align: end !important;
  }
  .sub-title{
  // color: #000;
  font-family: 'Roboto';
  font-size: .8rem;
  // font-style: italic;
  color: #000;
  td:nth-child(1) {
  color: #fff;
    }
    td:first-child{
      padding-left: 35px !important;
    }
 }



  }
}
}


@media(min-width: 1800px) {

  .sec-tbl  {
    td {
      padding: 2px 16px !important;
    }
  }

  .Refresh {
    text-align: right;
    width: 99%;
    color: #2a8fed;
    font-family: 'Roboto';
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }

}
