<div class="container-fluid d-flex justify-content-center align-items-center" >
    <div class="report-controls-popup">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>TRANSACTIONS 
            </h5>
            <a  type="button" class="close-btn ms-auto me-2" (click)="close()"><i class="fa-solid fa-xmark"></i> </a>
        </div>
        <div class="body">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="d-flex" >
                        <div class="gross-tbl table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th rowspan="2" >Parts & Service </th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Receivables</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr class="title">
                                        <td>30-123 Description</td>
                                    </tr>
                                    <tr class="title">
                                        <td>30-456 Description</td>
                                    </tr>
                                    <tr class="title">
                                        <td>30-789 Description</td>
                                    </tr>
                                    <tr class="ttlBold">
                                        <td>Transaction Notes</td>
                                    </tr>
                                    <tr class="title">
                                        <td> Note 01</td>
                                    </tr>
                                    <tr class="title">
                                        <td>Note 02</td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                        <div class="sec-tbl table-responsive">
            
                            <table>
                                <thead>
                                    <tr>
                                        <th rowspan="2"></th>
                                        <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Chevrolet</th>
                                        <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Toyota</th>
                                        <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Chevrolet</th>
                                        <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Western Toyota</th>
                                        <th colspan="1" style="border-right: 2px solid #e0e1e2; width: 10%;">Total</th>
                                        <th colspan="5" style="border-right: 2px solid #e0e1e2; width: 50%;">Aged Balance</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Balance</th>
            
                                        <th>Balance</th>
            
                                        <th>Balance</th>
                                
                                        <th>Balance</th>
            
                                        <th>Balance</th>
            
                                        <th>0-15</th>
                                        <th>16-30</th>
                                        <th>31-45</th>
                                        <th>46-60</th>
                                        <th>Over 60</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="title">
                                        <td></td>
                                        <td>$5,000</td>

                                        <td>$5,000</td>

                                        <td>$5,000</td>

                                        <td>$5,000</td>

                                        <td>$10,000</td>

                                        <td></td>
                                        <td>$5,000</td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                    </tr> 
                                    <tr class="title">
                                        <td></td>
                                        <td>$10,000</td>

                                        <td>$10,000</td>

                                        <td>$10,000</td>

                                        <td>$10,000</td>
                
                                        <td >$20,000</td>
                
                                        <td></td>
                                        <td>$10,000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="title">
                                        <td></td>
                                        <td>$10,000</td>

                                        <td>$10,000</td>

                                        <td>$10,000</td>

                                        <td>$10,000</td>
                
                                        <td>$20,000</td>
                
                                        <td></td>
                                        <td></td>
                                        <td>$10,000</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="ttlBold">
                                        <td></td>
                                        <td></td>

                                        <td></td>

                                        <td></td>

                                        <td></td>
                
                                        <td></td>
                
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="title">
                                        <td></td>
                                        <td></td>

                                        <td></td>

                                        <td></td>

                                        <td></td>
                
                                        <td></td>
                
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="title">
                                        <td></td>
                                        <td></td>

                                        <td></td>

                                        <td></td>

                                        <td></td>
                
                                        <td></td>
                
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- <div class="footer">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-1" (click)="viewreport()">View Report</button>
                <button type="button" class="btn btn-primary ms-1"  (click)="save()">Save to Favorites</button>
                <a  class="cancel-txt" (click)="close()">Cancel</a>
              
            </div>
        </div> -->
    </div>
</div>        