<div class="container-fluid d-flex justify-content-center align-items-center"
    [ngStyle]="{'opacity': Opacity == 'Y' ? '.8' : '1' }">
    <div class="gross-popup">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>{{SFdetails.NAME}}
            </h5>
            <img src="../../../../../../assets/images/Export.png" (click)="exportAsXLSX()"
                class="img-fluid ms-auto me-2" alt="" style="cursor: pointer;">
            <a type="button" class="close-btn ms-auto me-0" (click)="close()"><i class="fa-solid fa-xmark"></i> </a>
        </div>



        <div class="content">
            <div class="loading">
                <div class="loader" *ngIf="spinner"></div>
            </div>
            <div class="d-flex" id="Details" #TABLE #table style="width: 100%;">

                <div class="deal-tbl" style="min-height: 70vh;" (scroll)="updateVerticalScroll($event)">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Store Name #</th>
                                <th>Account ID</th>
                                <th>Account Description</th>
                                <th style="text-align: center!important;padding-right: 5rem !important;">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let SF of SFdetailsdata; let i = index ">
                                <td style="padding-left: 5rem !important;">
                                    {{ (SF.Store_Name == 0 || SF.Store_Name == null || SF.Store_Name == undefined ? '-'
                                    :
                                    SF.Store_Name ) }}
                                </td>
                                <td style="text-align: center!important;">
                                    {{ (SF.Account_ID == 0 || SF.Account_ID == null || SF.Account_ID == undefined ? '-'
                                    :
                                    SF.Account_ID ) }}
                                </td>
                                <td style="text-align: center!important;">
                                    {{ (SF.AccountDescription == 0 || SF.AccountDescription == null ||
                                    SF.AccountDescription ==
                                    undefined ? '-' : SF.AccountDescription ) }}
                                </td>
                                <td [ngClass]="{ negative:!inTheGreen(SF.Balance)}"
                                    style="text-align: center;padding-right: 8rem !important;">
                                    {{ (SF.Balance == 0 || SF.Balance == null || SF.Balance == undefined ? '-' :
                                    SF.Balance |
                                    currency: 'USD':'symbol':'1.0-0' ) }}
                                </td>
                            </tr>
                            <tr *ngIf="NoData">
                                <td colspan="5" style="text-align: center;">No Data Found!!!</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>