
.report-controls-popup{
    width: 100%;
    .col-8{
        .col-4{border-left: 1px solid #edf1f4;}
        .row{border-left: 1px solid #edf1f4;}
    }
    .header{
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #edf1f4;
    position: relative;
    padding: 0.5rem 3rem;

    .close-btn{
    color: #d4d4d4;
    font-size: 1.3vw;
    position: absolute;
    right: 20px;
    }
    
    .title{
    font-family: 'Roboto';
    font-size: 1.3vw;
    color: #444649;
    line-height: 2rem;
    
    .slash{
    color: #33b3f3;
    padding-right: 5px;
            }}}

    .body{
    background-color: #ffffff;
    padding:3rem 3rem;

    h5 {
        font-size: 0.9vw;
        margin: 0px;
        font-family: 'RobotoBold';
        color: #858585;
        padding-left: 5px;
    }

.data-grouping, .slt-trgt{
    .sub-text{
       color: #55aaff;
       font-family: 'Roboto';
       font-size: 0.7vw;
       position: relative;
       top: -5px;
       left: 5px;
    }
    .str_scrl{
        max-width: 690px;overflow: auto;
    }
    .count{
        float: right;
        border-radius: 45%;
        background-color: #25ca61;
        padding:0px 3px;
        color: white;
    }
    .box{

        height: 500px;    
       display: flex;    
       flex-direction: column;    
       flex-wrap: wrap;   
       
      //  .btn-primary{
      //   background-color: transparent !important;
      //   color: #858585 !important;
      // }
    }
    
    .box>* {    
       flex: 1 1 10px;    
    
    }
.bg-color{
  color: #fff !important;
  background-color: #2a91f0 !important;
  outline: none !important;
}
.bg-color-none{
  color: #858585 !important;
  background-color: transparent !important;
  outline: none !important;
}
.bg-color-wt{
  color: #858585 !important;
  background-color: #fff !important;
  outline: none !important;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}
.Pointer{
  pointer-events: none;
}
    .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 20px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2a91f0;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        bottom: 0.15rem;
        background-color: white;
        transition: 0.4s;
      }
      
      input:checked + .slider {
        background-color: #2a91f0;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2a91f0;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
    .active {
        color: #fff !important;
        background-color: #2a91f0 !important;
        outline: none;
      }
    .grp-btn:focus, .grp-sml-btn:focus {
        color: #fff;
        background-color: #2a91f0;
        outline: none;
      }
      
    .grp-btn, .grp-sml-btn{
        margin-top: 6px;
        border-radius: 50px;
        width: 78%;
        color: #858585;
        background-color: #ffffff;
        border: 1px solid #d4e1e7;
        outline: none;
        padding: 0.3rem 0.75rem;
        font-family: 'Roboto';
        font-size: 0.7vw;}

    .grp-sml-btn{
        width: 90px;
        margin-right: 10px;
    }

    .slt-trgt{
    .grp-btn{
        width: 70%;
        text-align: start;
    }

  
}
      
    h2{
        font-size: 0.7vw;
        color: black;
        font-family: 'Roboto';
        }

    .date{
        border-radius: 50px;
        width: 110px;
        font-size: 0.7vw;
        color: #858585;
        margin-right: 10px;
        background-color: #ffffff;
        border: 1px solid #d4e1e7;
        outline: none;
        margin-bottom: 5px;
        }

    .report-dd{
    .form-select{
        padding-left: 15px;
        margin-top: 5px;
        border-radius: 50px;
        width: 70%;
        font-size: 0.7vw;
        color: #858585;
        font-family: 'Roboto';
        background-image: url("../../../../../assets/images/down_arrow.png");
        background-size: auto;
     }

    span{
    a{
        text-decoration: none;
        font-size: 0.55vw;
        color: #33b3f3;
        font-family: 'Roboto';
        padding-left: 10px;}
    }
    h6{
    span{
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding-left: 5px ;
    a{padding-left: 5px;}}
    
    .fa-circle-plus{
        font-size: 1rem;
        padding-right: 0px;
        color: #33b3f3;}
        }
    }

    .source{.grp-btn{width: 70%;}}

    .form-control{
        margin-top: 6px;
        border-radius: 50px;
        width: 50%;
        color: #858585;
        background-color: #ffffff;
        border: 1px solid #d4e1e7;
        outline: none;
        padding: 0.3rem 0.75rem;
        font-family: "Roboto";
        font-size: 0.7vw;
        background: url(../../../../../assets/images/cal_blk.png) #ffffff  95% no-repeat;
      }

.form-group {

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        width: 70%;
      }
      
    .form-control{
        margin-top: 6px;
        border-radius: 50px;
        width: 50%;
        color: #858585;
        background-color: #ffffff;
        border: 1px solid #d4e1e7;
        outline: none;
        padding: 0.3rem 0.75rem;
        font-family: "Roboto";
        font-size: 0.7vw;
        background: url(../../../../../assets/images/cal_blk.png) #ffffff  95% no-repeat;
      }
      
    //   input[type="date"]{
	// 	position: relative;
	// }
	// input.datepicker{
	// 	width: 170px;  background: url(../../assets/images/Calendar.png) #dde3e9  95% no-repeat;border: #f1f4f6; color: black; padding: 3px 0px 3px 14px; height: 30px;
	// 	border-radius: 20px; 
	//   }
	// input[type="date"]::-webkit-calendar-picker-indicator {
	//    background: transparent;
	//    color: black;
	//    position: absolute;
	//    height: auto;
	//    width: auto;
	//    left: 0;  
	//    bottom: 0;
	//    right: 0;
	//    top: 0;
	//   }
}

}


}
    .footer{
        background: #f8f9fb;
        border-radius: 0px 0px 20px 20px;
        position: relative;
        padding: 1.3rem;

    .btn-primary{
        margin-top: 0px;
        border-radius: 50px;
        width: 200px;
        color: #fff !important;
        background-color: #2a91f0 !important;
        outline: none;
        font-size: 0.7vw;
        padding: 0.3rem 0.75rem;

    }
    .btn-save{
        margin-top: 0px;
        border-radius: 50px;
        width: 200px;
        color: #fff !important;
        background-color: #25ca61 !important;
        outline: none;
        font-size: 0.7vw;
        padding: 0.3rem 0.75rem;

    }

    .cancel-txt{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2a91f0;
        font-size: 0.7vw;
        padding-left: 10px;
        cursor: pointer;
    }
  

}
}

.prt{
  cursor: pointer;
}

.alert-popup{
  background-color: #fff !important;
  color: #444649;
}
.btn-popup{
  margin-top: 0px;
  border-radius: 50px;
  width: 90%;
  color: #fff !important;
  background-color: #2a91f0 !important;
  outline: none;
  font-size: 0.9vw;
  padding: 0.3rem 0.5rem;
  border: none;

}

.modal { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

:host ::ng-deep .multiselect-dropdown .dropdown-list .item2{
  max-height: 390px !important;
  font-family: 'Roboto' !important;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // flex: 1 1 10px;
}
:host ::ng-deep .multiselect-dropdown .dropdown-list .item2 li h5{
 font-size: .8rem !important;
 font-family: 'Roboto' !important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: max-content;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 1px 5px #959595;
  font-family: 'Roboto' !important;
}

@media(max-width: 1366px) {
      
  .scrollpopup{
     max-height: 600px;
     overflow: auto;
  }
  }

  @media(min-width: 1800px) {
    .report-controls-popup{
        width: 90%;
    }
    .str_scrl{
        max-width: 800px;overflow: auto;
    }
  }