
 ////////////////////////////////// REPORT CONTROL ///////////////////////////////
// calender style
.outerCard {
    /* touch-action: none;
    overflow: hidden;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322); */
    /* min-width: 270px;
    height: 30px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    text-align: justify; */


    display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      background: #fff;
      box-shadow: 0 0 10px 0 #aaa;
      // position: relative;
      z-index: 1;
      border-radius: 25px;
      left: 25%;
      height:22rem;
  }

  .topPanel {
    width: 280px;
    height: 12px;
    text-align: center;
    line-height: 20px;
  padding-left: 60px;
  margin-top: 8px;
  }

  .prevYearButton {
    float: left;

  }

  .nextYearButton {
    float: right;
  }

  // button {
  //   width: 64px;
  //   height: 64px;
  //   background:none;
  //   border:none;
  //   margin:0;
  //   padding:0;
  //   cursor: pointer;

  // }

  //  button:focus {outline:0;}

  // i {
  //   border: solid black;
  //   border-width: 0 3px 3px 0;
  //   display: inline-block;
  //   padding: 2px;

  // }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);


  }

  .topPanel.yearLabel {
    display: inline-block;
    margin:0 auto;

  }

  .contentPanel {
    padding: 1px 1px;

  }

  .monthItem {
    display: inline-block;
    height: 51px;
    width: 60px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
    margin-bottom: 1px;



  }

  .monthItem:hover {
    border-radius: 100%;
    background-color: #ef5f23;
    color: white;
  }

  .isEdge {
    border-radius: 51%;
    background-color: #ef5f23;
    color: white;
    height:44px

  }

  .inRange {
    background-color: #ef5f23;
    opacity: 0.5;
    color: white;
  }

  .isLowerEdge {
    background-color: none;
    background: linear-gradient(to right, transparent 50%, #ef5f23 50%);

  }

  .isUpperEdge {
    background-color: none;
    background: linear-gradient(to right, #ef5f23 50%, transparent 50%);
  }

  .notCurrentYear {
    // color: #c4cbd6;
    display:none
  }
  // calender style end

   .reports-controls{
      height:auto;
      position: absolute;
      left: 20px;
      z-index: 999;
      width: inherit;
      box-shadow: 13px 0px 24px 0px rgba(0,0,0,0.1);
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.7rem 1rem;
      text-align: center;

      .title{
      font-family: 'Roboto';
      font-size: 0.9rem;
      color: #000;
      line-height: 3rem;
      text-transform: uppercase;
      .slash{color: #ef5f23;padding-right: 5px; }}
      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0px;
      height: 60vh;
      overflow: auto;

      .list-group-item{
      border-bottom: none;
      border-top: 2px solid rgba(238, 236, 236, 0.568);
      cursor: pointer !important;

      .rpt-icon{height: 25px;float: right;}
      .list-btn{
      .fa-icon{color: #a4a8ab;font-size: 1.3rem;}
      .fa-angles-right{color: #a4a8ab;font-size: 0.9rem;}
      .arrow-icon{height: 18px;}
      h6{
      color: #ef5f23;
      font-family: 'RobotoBold';
      font-size: 0.8rem;
    }
      p{font-family: 'Roboto';font-size: 0.6rem;line-height: 10px;color: #000;}
      }
      }
      .Selected{
        background-color: #ef5f23 !important;
        color: #fff !important;
      }
      .UnSelected{
        background-color: #fff !important;
        color: #000 !important;
      }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px;}
      .btn-view{background-color: black;white-space: nowrap; }
      .btn-save{background-color: #ef5f23; white-space: nowrap;}

      .cancel-txt{
      text-align: center;
      cursor: pointer;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      color: #00000075;}
        }}
    }


     ////////////////////////////////// REPORT PERIOD ///////////////////////////////

    .report-period{
      margin-top: 1.2rem;
      width: auto;
      height: 80vh;
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.5rem 3rem;
      text-align: start;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);

      .title{
      font-family: 'RobotoBold';
      font-size: 0.9rem;
      color: #000;
      padding-top: 1rem;
      text-transform: capitalize;
      }
      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0px;
      height: 60vh;
      overflow: auto;

      .report-grid{
      display: grid;
      width: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap:10px;


      .report-btn:hover {
      color: #fff;
      background-color: #ef5f23;
      outline: none;

      .fa-cal{filter: invert(1); }
      }

      .report-btn:active {
      color: #fff;
      background-color: #f18455f6;
      outline: none;
      }
      .btn{
          box-shadow: none;
      }

      .report-btn{
      border-radius: 25px;
      background-color: #ffffff;
      font-family: 'Roboto';
      font-size: .7rem;
      border: none;

      border: 2px solid #e4e4e4;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      }
    }

      .report-calendar{
      height: 150px;
      background-color: #ffffff;
      border-radius:30px;
      box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
      overflow: auto;
       }
       .Selected{
        background-color: #ef5f23 !important;
      color: #fff !important;
      }
      .UnSelected{
        background-color: #fff !important;
        color: #000 !important;
      }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px;}
      .btn-view{background-color: black; padding: .25rem;}
      .btn-save{background-color: #ef5f23;padding:.25rem}

      .cancel-txt{
      text-align: center;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      color: #00000075;}
        }}
    }

     ////////////////////////////////// REPORT STORES ///////////////////////////////
     .report-stores{
      margin-top: 1.2rem;
      width: auto;
      height: 80vh;
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.5rem 3rem;
      text-align: start;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);

      height: 50px;
      font-family: 'RobotoBold';
      font-size: 0.9rem;
      color: #000;

      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0 0 15px 0;
      height: 68vh;

      .grp-brands{overflow: auto;height: 64vh;
        border-right: 2px solid  rgba(238, 236, 236, 0.568);
      .btn{margin-bottom: 10px;}
      }

      .stores{
      overflow: auto;height: 64vh;
      .mb-10{margin-bottom: 10px;}
      .w-80{width: 47%;}
      .stores-grid{
      display: grid;
      width: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:10px;
    } }

      .report-btn:hover {
      color: #fff;
      background-color: #faa27c;
      outline: none;
      }

      .report-btn:focus {
      color: #fff;
      background-color: #ef5f23;
      outline: none;
      }
      .report-btn.active {
        color: #fff;
        background-color: #ef5f23;
        outline: none;
        }
      .btn{
          box-shadow: none;
          width: 100%;
      }

      .report-btn{
      border-radius: 25px;
      background-color: #ffffff;
      font-family: 'Roboto';
      font-size: .7rem;
      border: none;
      border: 2px solid #e4e4e4;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      }
      .Selected{
        background-color: #ef5f23 !important;
        color: #fff !important;
      }
      .UnSelected{
        background-color: #fff !important;
        color: #000 !important;
      }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px;}
      .btn-view{background-color: black; padding: .25rem;}
      .btn-save{background-color: #ef5f23;padding:.25rem}

      .cancel-txt{
      text-align: center;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      color: #00000075;}
        }}
    }

     ////////////////////////////////// REPORT GROUPING ///////////////////////////////
     .report-grouping{
      margin-top: 1.2rem;
      width: auto;
      box-shadow: 3px 0px 18px 0px rgba(0,0,0,0.1);
      position: relative; z-index: 99;
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.5rem 3rem;
      text-align: start;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);
      h5{font-family: 'RobotoBold';font-size: 0.8rem;color: #000;}
      h6{font-size: 0.6rem;text-align: left;color: grey;}
      .report-btn{
          border-radius: 25px;
          background-color: #ffffff;
          font-family: 'Roboto';
          font-size: 0.6rem;
          border: 2px solid #e4e4e4;
          color: grey;
          padding: 2px 25px;
          }
          .report-btn:hover{
            color: #fff;
            background-color: #ef5f23;
            }
      .active{
          color: #fff;
          background-color: #ef5f23;
          outline: none;
      }
      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0 0 15px 0;
      height: 68vh;
      overflow: auto;

      .grouping-grid{
      display: grid;
      width: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:10px;

      .report-btn:hover {
      color: #fff;
      background-color: #f79970;
      outline: none;
      }

      .report-btn:focus {
      color: #fff;
      background-color: #ef5f23;
      outline: none;
      }
      .report-btn.active {
        color: #fff;
        background-color: #ef5f23;
        outline: none;
        }
      .btn{
          box-shadow: none;
      }

      .report-btn{
      border-radius: 25px;
      background-color: #ffffff;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;

      border: 2px solid #e4e4e4;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      }
      .disabled{
        pointer-events: none;
        opacity: 0.5;
        }
    }
    .Selected{
      background-color: #ef5f23 !important;
      color: #fff !important;
    }
    .UnSelected{
      background-color: #fff !important;
      color: #000 !important;
    }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px; padding: .25rem}
      .btn-view{background-color: black; padding: .25rem;}
      .btn-save{background-color: #ef5f23;padding: .25rem}

      .cancel-txt{
      text-align: center;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      color: #00000075;}
        }}
    }

     ////////////////////////////////// REPORT SALESPERSON ///////////////////////////////
     .report-salesperson{
      margin-top: 2.8rem;
      width: auto;
      box-shadow: 3px 0px 18px 0px rgba(0,0,0,0.1);
      position: relative;right: 40px;z-index: 9;
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.5rem;
      text-align: start;
      height: 50px;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);
      h5{font-family: 'RobotoBold';font-size: 0.9rem;color: #000;}
      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0 0 15px 0;
      height: 62vh;
      overflow: auto;

      .sales-grid{
      display: grid;
      width: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:10px;

      .btn{
          box-shadow: none;
      }

      .report-btn{
      border-radius: 25px;
      background-color: #ef5f23;
      font-family: 'Roboto';
      font-size: .7rem;
      border: none;

      border: 2px solid #e4e4e4;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      }
    }
    .Selected{
      background-color: #ef5f23 !important;
      color: #fff !important;
    }
    .UnSelected{
      background-color: #fff !important;
      color: #000 !important;
    }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;
      height: 50px;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px;}
      .btn-view{background-color: black; padding: .25rem;}
      .btn-save{background-color: #ef5f23;padding:.25rem}

      .cancel-txt{
      text-align: center;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      color: #00000075;}
        }}
    }


     ////////////////////////////////// REPORT FILTERS ///////////////////////////////
     .report-filters{
      margin-top: 1.2rem;
      width: auto;
      height: 80vh;
      .header{
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      position: relative;
      padding: 0.5rem 3rem;
      text-align: start;
      border-bottom: 2px solid rgba(238, 236, 236, 0.568);

      .title{
      font-family: 'RobotoBold';
      font-size: 0.9rem;
      color: #000;
      padding-top: 1rem;
      text-transform: capitalize;
      }
      .close-btn{
      color: #d4d4d4;
      font-size: 0.8rem;
      position: absolute;
      right: 5px;
      top: 5px;
      }}


      .body{
      background:#ffffff;
      border-radius:0 0 15px 0;
      height: 68vh;
      overflow: auto;

      .filter{
          display: flex;
          padding: 0.7rem 0;
          border-bottom: 2px solid rgba(238, 236, 236, 0.568);

          h6{font-size: 0.8rem;font-family: 'Roboto';}
      }

      .report-grid{
      display: grid;
      width: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:10px;


      .report-btn:hover {
      color: #fff;
      background-color: #f8a27d;
      outline: none;
      }

      .report-btn:focus {
      color: #fff;
      background-color: #ef5f23;
      outline: none;
      }

      .report-btn.active {
        color: #fff;
        background-color: #ef5f23;
        outline: none;
        }
      .btn{
          box-shadow: none;
      }

      .report-btn{
      border-radius: 25px;
      background-color: #ffffff;
      font-family: 'Roboto';
      font-size: .7rem;
      border: none;
      border: 2px solid #e4e4e4;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      }
    }
    .Selected{
      background-color: #ef5f23 !important;
      color: #fff !important;
    }
    .UnSelected{
      background-color: #fff !important;
      color: #000 !important;
    }
    }
    .footer{
      border-top: 2px solid #e4e4e4;
      background-color: #eff3f6;
      border-radius:0px 0px 20px 20px ;

      button{
      border-radius: 25px;
      background-color: #ef5f23;
      color: white;
      font-family: 'Roboto';
      font-size: 0.7rem;
      border: none;
      width: 100%;
      text-transform: capitalize;
      }

      .btn-sm-save{background-color: black;width: 100px;}
      .btn-view{background-color: black; padding: .25rem;}
      .btn-save{background-color: #ef5f23;padding:.25rem}

      .cancel-txt{
      text-align: center;
      cursor: pointer;
      a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 0.6rem;
      cursor: pointer;
      color: #00000075;}
        }}
    }

    .fa-solid, .fas {
      font-family: "Font Awesome 6 Free" !important;
      font-weight: bold !important;
      color: black !important;
    }


   ::ng-deep .bs-datepicker {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      background: #fff;
      box-shadow: 0 0 10px 0 #aaa;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      // top: 50px ;
      // right: 167px ;
      left: 30%;
    }

    ::ng-deep .theme-green .bs-datepicker-head {
      background-color: #fff;

    }
    ::ng-deep .bs-datepicker-head {
      min-width: 270px;
      height: 30px;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      text-align: justify;
    }
    ::ng-deep  .bs-datepicker-head button {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      height: 30px;
      line-height: 30px;
      border: 0;
      background: transparent;
      text-align: center;
      cursor: pointer;
      color: black;
      transition: 0.3s;
    }
    ::ng-deep .bs-datepicker-head button[disabled], .bs-datepicker-head button[disabled]:hover, .bs-datepicker-head button[disabled]:active {
      background: #fff;
      color: #000;
      cursor: not-allowed;
    }

    ::ng-deep  .bs-datepicker-buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
     padding-top: 0px;
     border-top: none;
    }

    ::ng-deep  .bs-datepicker-body {
      padding: 10px;
      border-radius: 0 0 3px 3px;
      min-height: 190px;
      min-width: 270px;
      border:none;
    }

    ::ng-deep  .bs-datepicker-body table th {
      font-size: 13px;
      color: #000;
      font-weight: 400;
      text-align: center;
      padding-bottom: 10px;
    }

    ::ng-deep .bs-datepicker-body table td {
      color: #000;
      text-align: center;
      position: relative;
      padding: 0;
    }

    ::ng-deep  .bs-datepicker-body table.days span {
      width: 24px;
      height: 24px;
      line-height: 24px;
    }

    ::ng-deep .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*=select-]:after, .theme-green .bs-datepicker-body table td[class*=select-] span:after {
      background-color: #e65f1b;
    }

    ::ng-deep .bs-datepicker-body table.days td.active:not(.select-start):before, .bs-datepicker-body table.days td.in-range:not(.select-start):before, .bs-datepicker-body table.days span.active:not(.select-start):before, .bs-datepicker-body table.days span.in-range:not(.select-start):before {
      background: #fcded4 !important;
      height: 20px;
        margin-top: -3px;
    }

    ::ng-deep  .is-other-month{
      display: none !important;
    }
    ::ng-deep .bs-datepicker-container {
      padding: 10px;
    }
    // @media (min-width: 992px){
    //   .col-lg-2 {
    //     flex: 0 0 auto;
    //     width: 18.666667%;
    // }

    // }
    // @media(min-width: 1800px) {
    //   .col-lg-2 {
    //     flex: 0 0 auto;
    //     width: 16.666667%;
    // }
    // }
