.positive {
    color: green !important;
     }
     .negative {
       color: red;
     }
     .anchor{
       color: #2d88e1 !important ;
     }
     .hidden {
       display: none !important;
     }
     .disable {
       pointer-events: none !important;
       // display: none;
       color: #363b4f;
     }

     .bdr-rt{
      border-right: 2px solid #e0e1e2 !important;
     }
     .bdr-btmrt{
      border-right: 2px solid #e0e1e2 !important;
      border-bottom: 2px solid #e0e1e2 !important;
     }
     .flt-rt{
       float: right;
     }
     .clr-gry{
       color: #363b4f;
     }
     .gross-tbl  {
         overflow-y: auto;     
         overflow-x: hidden;
         text-align: center;
         height: 727px;
       
         table{
         
         table, td, th {
           border-collapse: collapse;
         }
         
         th {
           padding: 7.2px 5px;
         }
         
         td {
           padding: 5px 5px ;
         }
         
           thead {
           border-top: none !important;
           border-bottom: none !important;
           box-shadow: inset 0 -5px 0 #2d91f1;
           background: #ffffff;
           // position: fixed;
           z-index: 2;
           // top:0;
           width: 11%;
       position: sticky;
       top: 0;
           tr th{
           z-index: 3;
           left: 0;
           top: 0;}
       
           tr:nth-child(1) th:not(:first-child){
           padding-bottom: 0px !important;
           color: black;
           font-size: .9rem;
           }
       
           tr:nth-child(2) th:not(:first-child){
           padding-bottom: 10px;
           color: #a2a3a7;
           font-size: .7rem;
           text-align: center;
           }
       }
       
           thead {
           tr th:first-child {
           // position: sticky;
           z-index: 4;
           // left: 0;
           display: block;
           background-color: #363b4f;
           color: white;
           font-size: .82rem;
     
          
       
         }
         
         th:nth-child(5n + 6) 
         {
       
         border-right: 2px solid #e0e1e2;
         position: relative;
          }
       
       }
       
       
         tbody {
           background: #fff;
         color: #788494; 
         font-size: .7rem;
         font-family: 'Roboto';
         border-top:4px solid #363b4f;
         tr:nth-child(4n + 4) 
         {
       
         border-bottom: 2px solid #363b4f;
         position: relative;
          }
         tr td:first-child {
         // position: sticky;
         z-index: 4;
         // left: 0;
         width: auto;
         text-align: end;
         background: #363b4f;
         color: #e3e3e3;
         padding-right: 2rem;
         cursor: pointer;
         text-align: left;
         white-space: nowrap;
           }
     
         
       
         td:nth-child(5n + 6) {
         border-right: 2px solid #e0e1e2;
         position: relative;
            }
         // tr:last-child td{padding-bottom:0rem;}
         .title{
         font-family: 'Roboto';
         color: #000;
         font-size: .9rem;
         cursor: pointer;
   
         td:first-child {
         color: white;
       //   height:35px;
         white-space: nowrap;
         text-align: left;
         padding-left: 1rem;
   
         }
       
         }
       
         .sub-title{
         color: #000;
         font-family: 'Roboto';
         font-size: .8rem;
         cursor: pointer;
     
         td:nth-child(1) {
          //  color: #2d7dcc;
           text-align: left;
         padding-left: 1.3rem;
   
           }
       
        }
        .sub-sub-title{
           color: #000;
           font-family: 'Roboto';
           font-size: .7rem;
           cursor: pointer;
       
           td {
             color: white;
             text-align: left;
           padding-left: 2rem;
     
             }
         
          }
       
         }
       }
   
      
       }
     
       .sec-tbl  {
         width:100%;
         overflow-x: auto;
         text-align: center;
         height: 727px;
         //box-shadow: 0px 2px 8px 0px  #333;
        // background-color: #fff;
     
         table{
         
         
         table, td, th {
           border-collapse: collapse;
         }
         
         th {
           padding:11px;
         }
         
         td {
           padding: 5px 5px !important;
           text-align: right;
         }
     
         .divRed{ color: red;}
         
           thead {
           border-top: none !important;
           border-bottom: none !important;
           box-shadow: inset 0 -5px 0 #2d91f1;
           background: #ffffff;
           //position: fixed;
           z-index: 2;
           font-family: 'RobotoBold';
           position: sticky;
           top: 0;
          
            tr{
             
            }
           tr:nth-child(1) th:not(:first-child){
           padding-bottom: 0px !important;
           font-size: .9rem;
           background-color: #363b4f;
           color: white;
           }
       
           tr:nth-child(2) th:not(:first-child){
           padding-bottom: 10px;
           color: black;
           font-size: .7rem;
           white-space: nowrap;
           }
           tr:nth-child(3) th:not(:first-child){
               padding-bottom: 10px;
               color: #a2a3a7;
               font-size: .7rem;
               white-space: nowrap;
               }
           
       }
       
           thead {
           tr th:first-child {
           left: 0;
           display: block;
           color: #000;
           font-size: .7rem;
       
         }
         
       //   th:nth-child(5n + 6) 
       //   {
       
       //   border-right: 2px solid #e0e1e2;
       //   position: relative;
       //   padding-right: 1rem;
       //    }
          td:nth-child(7) {
           border-right: 2px solid #e0e1e2;
           position: relative;
           padding-right: 1rem;
              }
              td:nth-child(12) {
               border-right: 2px solid #e0e1e2;
               position: relative;
               padding-right: 1rem;
                  }
                  td:nth-child(16) {
                   border-right: 2px solid #e0e1e2;
                   position: relative;
                   padding-right: 1rem;
                      }
        
       }
       
         tbody {
           background: #fff;
         color: #788494; 
         font-size: .7rem;
         font-family: 'Roboto';
         tr td:first-child {
           padding: 2px 0 !important;
         }
         // tr:last-child td{padding-bottom:0rem;}
     
         tr:hover{
           background-color: #363b4f !important;
           color: white !important;
         }
         tr:nth-child(4n + 4) 
         {
       
         border-bottom: 2px solid #000;
         position: relative;
          }
       //   tr:nth-child(even) {
       //    background-color: #f1f1f1;
       //   }
     .bg_wt{
       background-color:#ffffff ;
     }
      .bg_gry{
      background-color: #e5e5e7;
      }    
      td:nth-child(2) {
        border-right: 2px solid #e0e1e2;
        position: relative;
        padding-right: 1rem;
           } 
           td:nth-child(3) {
            border-right: 2px solid #e0e1e2;
            position: relative;
            padding-right: 1rem;
               } 
               td:nth-child(5) {
                border-right: 2px solid #e0e1e2;
                position: relative;
                padding-right: 1rem;
                   } 
         td:nth-child(7) {
           border-right: 2px solid #e0e1e2;
           position: relative;
           padding-right: 1rem;
              }
              td:nth-child(9) {
               border-right: 2px solid #e0e1e2;
               position: relative;
               padding-right: 1rem;
                  }
                  td:nth-child(10) {
                   border-right: 2px solid #e0e1e2;
                   position: relative;
                   padding-right: 1rem;
                      }
                      td:nth-child(11) {
                       border-right: 2px solid #e0e1e2;
                       position: relative;
                       padding-right: 1rem;
                          }
                          td:nth-child(12) {
                            border-right: 2px solid #e0e1e2;
                            position: relative;
                            padding-right: 1rem;
                               }
                               td:nth-child(13) {
                                border-right: 2px solid #e0e1e2;
                                position: relative;
                                padding-right: 1rem;
                                   }                   
                                   td:nth-child(14) {
                                    border-right: 2px solid #e0e1e2;
                                    position: relative;
                                    padding-right: 1rem;
                                       }
                                       td:nth-child(22) {
                                        border-right: 2px solid #e0e1e2;
                                        position: relative;
                                        padding-right: 1rem;
                                           }
                                       td:nth-child(19) {
                                        border-right: 2px solid #e0e1e2;
                                        position: relative;
                                        padding-right: 1rem;
                                           }
                                           td:nth-child(20) {
                                            border-right: 2px solid #e0e1e2;
                                            position: relative;
                                            padding-right: 1rem;
                                               }
                                               td:nth-child(24) {
                                                border-right: 2px solid #e0e1e2;
                                                position: relative;
                                                padding-right: 1rem;
                                                   }
           
            td:nth-child(7) 
            {
              text-align: right;
             }
     
             td:nth-child(8) 
             {
               text-align: right;
              }
     
         .title{
       
         font-family: 'Roboto';
         color: #000;
         font-size: .9rem;
        
       //   td:first-child {
       //   color: #000;
       //   word-wrap: break-word;
       //   height: 35px;
       //     }
         }
        
         .sub-sub-title{
       
          font-family: 'Roboto';
          color: #000;
          font-size: .7rem;
        
        //   td:first-child {
        //   color: #000;
        //   word-wrap: break-word;
        //   height: 35px;
        //     }
          }
     
         .titleOdd{
           font-family: 'Roboto';
           color: #000;
           font-size: .8rem;
           background-color: #e5e5e5;
     
           td:first-child {
             color: #000;
             word-wrap: break-word;
             height: 35px;
               }
     
         }
       
     
       
         .sub-title{
         color: #000;
         font-family: 'Roboto';
         font-size: .8rem;
        //  background-color: #eaf4fd !important;
         
        }
       
        // .sub-sub-title{
        //    color: #000;
        //    font-family: 'Roboto';
        //    font-size: .7rem;
        //    cursor: pointer;
          
        //    tr:hover{
        //        background-color: #363b4f !important;
        //        color: white !important;
        //      }
        //    td {
        //      color: black;
        //      text-align: left;
        //    padding-left: 2rem;
     
        //      }
         
        //   }
         }
       }
     
     
       }
     
       th {
         position: -webkit-sticky !important;
         position: sticky !important;
         top: 0 !important;
         z-index: 2 !important;
       }
      
     
       .Selectedrow{
         background-color: #363b4f !important;
         color: white !important;
       }
       
     .Refresh {
       text-align: right;
       width: 99%;
       color: #2a8fed;
       font-family: 'Roboto';
       font-size: 0.8vw;
       margin-top: 0.3rem;
       
     }
     
     .Refresh img {
       margin-left: 10px;
     }
      
     
       @media(min-width: 1800px) {
         
         .sec-tbl  {
           td {
             padding: 2px 17px !important;
           }
         }
     
         .Refresh {
           text-align: right;
           width: 97%;
           color: #2a8fed;
           font-family: 'Roboto';
           font-size: 0.8vw;
           margin-top: 0.3rem;
         }
     
      
       }
     
       .divBold{
         font-family: 'RobotoBold' !important;
       }