<!-- <app-header></app-header>
<div class="Refresh">Updated: 09/09/22 07:35:56 am <img src="../../../assets/images/refresh_icon.png" alt=""> </div> -->

<div class="container-fluid pe-0 mt-1 mb-5">
    <div class="col-12">
      <div class="d-flex">
        <div class="sec-tbl table-responsive">
          <table>
            <thead>
              <tr>
                <!-- <th rowspan="2"></th> -->
                <th colspan="3" style="border-right: 2px solid #e0e1e2;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2" style="border-right: 2px solid #e0e1e2;" class="divGrey">Transactions</th>
                <th colspan="2" style="border-right: 2px solid #e0e1e2;" class="divGrey">Accounting</th>
                <th colspan="2" style="border-right: 2px solid #e0e1e2;" class="divGrey">Difference</th>
              </tr>
              <tr>
                <th>Type</th>
                <th></th>
                <th></th>
                <th></th>
                <th class="divGrey">RO's</th>
                <th class="divGrey">  Gross</th>
  
                <th class="divGrey">RO's</th>
                <th class="divGrey"> Gross</th>
              
                <th class="divGrey">RO's</th>
                <th class="divGrey">Total Gross</th>
              </tr>
            </thead>
            <tbody>
              <tr class="divBlack">
                <!-- <td><span>&nbsp;</span></td> -->
                <th>Customer Pay</th>
                <td></td>
                <td></td>
                <td></td>
                <td>100</td>
                <td>$220,000</td>
  
                <td>90</td>
                <td>$230,000</td>
               
                <td>10</td>
                <td class="NegativeVal">-$10,000</td>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td><span>&nbsp;</span></td>
                <td class="divBlack">Finalized in Accounting:</td>
                <td colspan="13"><span>&nbsp;</span></td>
              </tr>
              <tr class="divGrey">
                <td  style="background-color: white !important;"><span>&nbsp;</span></td>
                <th  >RO#</th>
                <th>Date</th>
                <th>Customer</th>
                <th>RO's</th>
                <th>Total Gross</th>
  
                <th>RO's</th>
                <th>Total Gross</th>
  
                <th>RO's</th>
                <th>Total Gross</th>
  
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td>123</td>
                <td >2/4/2021</td>
                <td>Jones</td>
                <td>1</td>
                <td>$3,300</td>
  
                <td>1</td>
                <td>$3,200</td>
  
                <td>0</td>
                <td class="NegativeVal">-$100</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td>124</td>
                <td>5/4/2021</td>
                <td>Smith</td>
                <td>1</td>
                <td>$1,700</td>
  
                <td>1</td>
                <td>$1,500</td>
  
                <td>0</td>
                <td class="NegativeVal">-$200</td>
              </tr>
  
              <tr>
                <td style="border-bottom:  2px solid white !important;"><span>&nbsp;</span></td>
                <td style="border-bottom:  2px solid white !important;">125</td>
                <td style="border-bottom:  2px solid white !important;">9/4/2021</td>
                <td style="border-bottom:  2px solid white !important;">Roberts</td>
                <td>1</td>
                <td>$3,250</td>
  
                <td>1</td>
                <td>$3,500</td>
  
                <td>0</td>
                <td>$250</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td>153</td>
                <td>$8,250</td>
  
                <td>3</td>
                <td>$8,200</td>
  
                <td>0</td>
                <td class="NegativeVal">-$50</td>
              </tr>
  
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td><span>&nbsp;</span></td>
                <td class="divBlack"> Not Finalized in Accounting:</td>
                <td colspan="13"><span>&nbsp;</span></td>
              </tr>
              <tr class="divGrey">
                <td  style="background-color: white !important;"><span>&nbsp;</span></td>
                <th>RO#</th>
                <th>Date</th>
                <th>Customer</th>
                <th>RO's</th>
                <th>Total Gross</th>
  
                 <th>RO's</th>
                <th>Total Gross</th>
  
                <th>RO's</th>
                <th>Total Gross</th>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td>123</td>
                <td>2/4/2021</td>
                <td>Jones</td>
                <td>1</td>
                <td>$3,300</td>
  
                <td></td>
                <td></td>
                
  
                <td class="NegativeVal">-1</td>
                <td class="NegativeVal">-$3,300</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td>124</td>
                <td>5/4/2021</td>
                <td>Smith</td>
                <td>1</td>
                <td>$1,700</td>
  
                <td></td>
                <td></td>
               
  
                <td>0</td>
                <td class="NegativeVal">-$1,700</td>
              </tr>
  
              <tr>
                <td style="border-bottom:  2px solid white !important;"><span>&nbsp;</span></td>
                <td style="border-bottom:  2px solid white !important;">125</td>
                <td style="border-bottom:  2px solid white !important;">9/4/2021</td>
                <td style="border-bottom:  2px solid white !important;">Roberts</td>
                <td>1</td>
                <td>$3,250</td>
  
                <td></td>
                <td></td>
             
                <td class="NegativeVal">-1</td>
                <td class="NegativeVal">-$3,250</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>$8,250</td>
  
                <td>0</td>
                <td>$0</td>
  
                <td class="NegativeVal">-3</td>
                <td class="NegativeVal">-$8,250</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td><span>&nbsp;</span></td>
                <td class="divBlack"> Accounting Adjustments:</td>
                <td colspan="13"><span>&nbsp;</span></td>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td><span>&nbsp;</span></td>
                <td class="divBlack"> RO Adjustments:</td>
                <td colspan="13"><span>&nbsp;</span></td>
              </tr>
  
  
              <tr class="divGrey">
                <td  style="background-color: white !important;"><span>&nbsp;</span></td>
                <th>RO#</th>
                <th>Date</th>
                <th>Customer</th>
                <th>RO's</th>
                <th>Total Gross</th>
  
                <th>RO's</th>
                <th>Total Gross</th>
  
                <th>RO's</th>
                <th>Total Gross</th>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td>123</td>
                <td>2/3/2021</td>
                <td>Jones</td>
                <td>1</td>
                <td>$3,300</td>
  
                <td>1</td>
                <td>$3,200</td>
  
                <td>0</td>
                <td class="NegativeVal">-$100</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td>124</td>
                <td>5/2/2021</td>
                <td>Smith</td>
                <td>1</td>
                <td>$1,700</td>
  
                <td>1</td>
                <td>$1,500</td>
  
                <td>0</td>
                <td class="NegativeVal">-$200</td>
              </tr>
  
              <tr>
                <td style="border-bottom:  2px solid white !important;"><span>&nbsp;</span></td>
                <td style="border-bottom:  2px solid white !important;">125</td>
                <td style="border-bottom:  2px solid white !important;">1/25/2021</td>
                <td style="border-bottom:  2px solid white !important;">Roberts</td>
                <td>1</td>
                <td>$3,250</td>
  
                <td>1</td>
                <td>$3,500</td>
  
                <td>0</td>
                <td>$250</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>$8,250</td>
  
                <td>3</td>
                <td>$8,200</td>
  
                <td>0</td>
                <td class="NegativeVal">-$50</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td><span>&nbsp;</span></td>
                <td class="divBlack"> Other Adjustments:</td>
                <td colspan="13"><span>&nbsp;</span></td>
              </tr>
              <tr class="divGrey">
                <td  style="background-color: white !important;"><span>&nbsp;</span></td>
                <th>Trans#</th>
                <th>Date</th>
                <th>Description</th>
                <th>Documents</th>
                <th>Amounts</th>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td>123</td>
                <td>2/4/2021</td>
                <td>Chargeback</td>
                <td>ABC</td>
                <td class="NegativeVal">-$500</td>
              </tr>
  
              <tr>
                <td><span>&nbsp;</span></td>
                <td>124</td>
                <td>5/2/2021</td>
                <td>WeOwe Adj</td>
                <td>DEF</td>
                <td>$450</td>
              </tr>
  
              <tr>
                <td style="border-bottom:  2px solid white !important;"><span>&nbsp;</span></td>
                <td style="border-bottom:  2px solid white !important;">125</td>
                <td style="border-bottom:  2px solid white !important;">9/4/2021</td>
                <td style="border-bottom:  2px solid white !important;">Incentive</td>
                <td>GHI</td>
                <td style="border-bottom:solid 2px black;">$200</td>
              </tr>
              <tr>
                <td><span>&nbsp;</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$150</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  