<p>salesconv-details works!</p>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="gross-popup">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>{{SalesCondetails[0].userName}}
            </h5>
            <a type="button" class="close-btn ms-auto me-2" (click)="close()"><i class="fa-solid fa-xmark"></i> </a>
        </div>
        <div class="content">

            <div class="d-flex">
                <div class="gross-tbl table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2" colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                                <th rowspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                                <th rowspan="1">&nbsp;<br>
                                    &nbsp;
                                </th>
                            </tr>
                            <!-- <tr>
                                        <th rowspan="1">&nbsp;</th>
                                    </tr> -->
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>Mark Andrews </td>
                            </tr>
                            <tr class="">
                                <td>Pauls Bright</td>
                            </tr>
                            <tr class="">
                                <td>Anthony Sullivan</td>
                            </tr>
                            <tr class="">
                                <td>Theresa Thom</td>
                            </tr>


                        <tbody>
                    </table>
                </div>
                <div class="sec-tbl table-responsive">
                    <table>
                        <thead>
                            <tr style="background-color: #363b4f;">
                                <th></th>
                                <th colspan="6" class="bdr-btmrt">
                                    Leads</th>
                                <th colspan="13" style="border-bottom: 2px solid #e0e1e2;">Activities</th>
                                <th colspan="7" class="bdr-btmrt">
                                    Showroom Conversion</th>
                                <!-- <th colspan="5" class="bdr-rt">Total Gross</th> -->

                            </tr>
                            <tr>
                                <th></th>

                                <th class="bdr-rt">Count</th>
                                <th class="bdr-rt">Contacted</th>
                                <th colspan="2" class="bdr-btmrt">
                                    Visits</th>
                                <th colspan="2" class="bdr-btmrt">
                                    Sold</th>


                                <th colspan="2" class="bdr-btmrt">
                                    Completed Tasks</th>
                                <th class="bdr-rt">Emails</th>
                                <th class="bdr-rt">Phone <br>Calls</th>
                                <th class="bdr-rt">Texts <br> (if available)</th>
                                <th class="bdr-rt">Videos<br> (If available)</th>

                                <th class="bdr-rt">Avg Resp Time</th>
                                <th colspan="5" class="bdr-btmrt">
                                    Appointments</th>
                                <th class="bdr-rt">Visits</th>
                                <th colspan="2" class="bdr-btmrt">
                                    Demos</th>
                                <th colspan="2" class="bdr-btmrt">
                                    Write Ups</th>

                                <th colspan="2" class="bdr-btmrt">
                                    Sold</th>


                            </tr>
                            <tr>
                                <th colspan="1"></th>
                                <th colspan="1" class="bdr-rt">
                                </th>
                                <th colspan="1" class="bdr-rt">
                                    %
                                </th>

                                <th>Count</th>
                                <th class="bdr-rt ">%</th>
                                <th>Count</th>
                                <th class="bdr-rt ">%</th>


                                <th>Count</th>
                                <th class="bdr-rt ">%</th>
                                <th colspan="1" class="bdr-rt"></th>
                                <th colspan="1" class="bdr-rt"></th>
                                <th colspan="1" class="bdr-rt"></th>
                                <th colspan="1" class="bdr-rt"></th>
                                <th colspan="1" class="bdr-rt"></th>
                                <th>Set</th>
                                <th>Confirmed %</th>
                                <th>Show %</th>
                                <th>Sold Count</th>


                                <th class="bdr-rt ">%</th>
                                <th colspan="1" class="bdr-rt"></th>

                                <th>Count</th>
                                <th class="bdr-rt ">%</th>
                                <th>Count</th>
                                <th class="bdr-rt ">%</th>


                                <th>Count</th>
                                <th class="bdr-rt ">%</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr class=" bg_wt">
                                <td><br><span></span></td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr class=" bg_gry">
                                <td><br><span></span></td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr class=" bg_wt">
                                <td><br><span></span></td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr class=" bg_gry">
                                <td><br><span></span></td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <!-- <tr></tr> -->




                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="footer">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-1" (click)="viewreport()">View Report</button>
                <button type="button" class="btn btn-primary ms-1"  (click)="save()">Save to Favorites</button>
                <a  class="cancel-txt" (click)="close()">Cancel</a>

            </div>
        </div> -->
    </div>
</div>