<div class="container d-flex justify-content-center align-items-center">
    <div class="analyze">
        <div class="header d-flex align-items-center">
            <h5 class="title m-0 ms-2">
                <img src="" alt=""> <span class="slash">//</span>ANALYZE
            </h5>
            <a type="button" class="close-btn ms-auto me-2" (click)="close()"><i class="fa-solid fa-xmark"></i> </a>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-7">
                    <h4 class="">Top 5 Insights</h4>
                </div>
                <div class="col-4 text-center">
                    <h4>Monthly Impact</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-7 d-flex justify-content-start align-items-start mt-4">
                    <div class="numberCircle"><span>1</span></div>
                    <h6 class="m-0 ms-2 me-2 mt-1">CP Retention below target</h6>
                </div>
                <div class="col-4 mt-4">
                    <button type="button" class="btn btn-danger">$15,000</button>
                </div>
                <div class="col-1 mt-4">
                    <img src="../../../../../assets/images/analyze.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-7 d-flex justify-content-start align-items-start mt-4">
                    <div class="numberCircle"><span>2</span></div>
                    <h6 class="m-0 ms-2 me-2 mt-2">CP Gross below target</h6>
                </div>

                <div class="col-4 mt-4">
                    <button type="button" class="btn btn-danger">$13,000</button>
                </div>
                <div class="col-1 mt-4">
                    <img src="../../../../../assets/images/analyze.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-7 d-flex justify-content-start align-items-start mt-4">
                    <div class="numberCircle"><span>3</span></div>
                    <h6 class="m-0 ms-2 me-2 ">Wholesale gross below target.</h6>
                </div>
                <div class="col-4 mt-4">
                    <button type="button" class="btn btn-danger">$11,000</button>
                </div>
                <div class="col-1 mt-4">
                    <img src="../../../../../assets/images/analyze.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-7 d-flex justify-content-start align-items-start mt-4">
                    <div class="numberCircle"><span>4</span></div>
                    <h6 class="m-0 ms-2 me-2">Warranty retention below target</h6>
                </div>
                <div class="col-4 mt-4">
                    <button type="button" class="btn btn-danger">$9,500</button>
                </div>
                <div class="col-1 mt-4">
                    <img src="../../../../../assets/images/analyze.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-7 d-flex justify-content-start align-items-start mt-4">
                    <div class="numberCircle"><span>5</span></div>
                    <h6 class="m-0 ms-2 me-2 mt-2">Discounting above target</h6>
                </div>
                <div class="col-4 mt-4">
                    <button type="button" class="btn btn-danger">$7,000</button>
                </div>
                <div class="col-1 mt-4">
                    <img src="../../../../../assets/images/analyze.png" alt="">
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary me-2"><i class="fa-solid fa-plus me-2"></i>See More</button> -->
        </div>
    </div>
</div>